main {
    height: auto;
}

.fighter-cards-container {
    position: relative;
}

.fighter-card {
    position: absolute;
    background-color: var(--theme-color-3);
    box-shadow: 0 5px 10px 3px var(--box-shadow);
    padding: 1rem;
    width: 100%;
    margin-bottom: 4rem;
    top: 1rem;
    left: 1rem;
    transition: 1s ease;
    text-align: left;
}

.fighter-card.current {
    position: relative;
    z-index: 101;
    top: 0;
    left: 0;
}

.fighter-card.enrolled {
    position: absolute;
    left: 150%;
    opacity: 0.2;
    transform: rotate(30deg);
}

.fighter-card.not-enrolled {
    position: absolute;
    left: -150%;
    opacity: 0.2;
    transform: rotate(-30deg);
}

.fighter-card h2 {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 2rem;
    text-shadow: 2px 2px 3px var(--text-shadow);
    padding-bottom: 0.25rem;
    color: var(--accent-color-1-dark);
    border-bottom: 3px solid var(--theme-color-1);
    box-shadow: 0 10px 10px -10px var(--box-shadow);
}

.fighter-card .property-information {
    font-size: 1.2rem;
}

.configuration h3 {
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-bottom: 0.25rem;
    color: var(--theme-color-5);
    border-bottom: 2px dashed var(--theme-color-4);
}

.configuration .exam-type-container {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 2px dotted var(--theme-color-4);
}

.configuration h4 {
    font-size: 1.25rem;
    padding-left: 2rem;
    margin: 0.5rem 0;
}

.configuration .radio-group label {
    display: block;
}

.configuration .select-input-container {
    margin-bottom: 1rem;
}

.fighter-card .actions {
    display: flex;
    justify-content: space-evenly;
}

.actions .primary-button {
    font-size: 0.8rem;
}

.fighter-card .progress-indicator {
    position: absolute;
    right: 0;
    top: 100%;
    background-color: var(--theme-color-3);
    padding: 0.5rem 2.5rem 0.5rem 1rem;
    height: 3.5rem;
    box-shadow: 0 9px 8px 0 var(--box-shadow);
    font-size: 1.5rem;
    z-index: 1;
}

.progress-indicator:before {
    content: '';
    position: absolute;
    top: 0;
    left: -3.5rem;
    border-top: 3.5rem solid var(--theme-color-3);
    border-right: 3.5rem solid transparent;
    border-left: 3.5rem solid transparent;
    z-index: -1;
}

.progress-indicator span {
    color: var(--accent-color-1-dark);
    font-weight: bold;
    font-size: 2rem;
}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {
    main.limited {
        max-width: 992px;
    }
}

@media only screen and (min-width: 1200px) {

}
