.light-fighter {
    display: block;
    position: fixed;
    width: 3rem;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -45%) scale(0.3);
    transition: transform 2.25s ease-in, opacity 1s ease;
    transition-delay: 0.25s;
    opacity: 0;
}

.shadow {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 25%;
    height: 25%;
    transform: translate(-50%, -50%);
    background-color: #171717;
    box-shadow: 0 0 80vmax 35vmax #171717;
    z-index: -1;
    opacity: 0;
    transition: 2s ease;
}

.darkmode .shadow {
    background-color: white;
    box-shadow: 0 0 80vmax 35vmax white;
}

.sent .light-fighter {
    opacity: 1;
    transform: translate(-50%, -50%) scale(20);
}

.sent .shadow {
    opacity: 1;
}

main:before {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(135deg, transparent 49%, rgba(255, 255, 255, 0.4) 50%, transparent 51%);
}

.intro {
    transition: 0.5s ease;
    margin-bottom: 3rem;
}

.sent .intro {
    opacity: 0;
}

.sent p.form-error {
    transition: 0.5s ease;
    opacity: 0;
}

.login-container {
    opacity: 0;
    margin: 0 auto;
    transition: 0.5s ease;
    transform: scale(0.5);
}

.welcome-done .login-container {
    opacity: 1;
    transform: scale(1);
}

.sent .login-container {
    transform: scale(0.3);
    opacity: 0;
}

.made-with {
    margin: 2rem 0;
    transition: 0.5s ease;
    font-size: 0.75rem;
    text-align: center;
    opacity: 0;
    transition-delay: 1s;
}

.welcome-done .made-with {
    opacity: 1;
}

.made-with .material-icons {
    font-size: 0.75rem;
    vertical-align: sub;
    margin: 0 0.2em;
}

.made-with .love {
    color: darkred;
}

.made-with .education {
    color: darkblue;
}

.sent .made-with {
    transition-delay: 0s;
    opacity: 0;
}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {
    main {
        max-width: 1500px;
    }
}
