body {
    overflow-x: hidden;
}

.light-fighter {
    display: block;
    position: fixed;
    width: 3rem;
    height: auto;
    filter: drop-shadow(0 0 20px var(--text-color));
    top: 50%;
    left: 50%;
    transform: translate(-45%, -45%) scale(0.3);
    transition: transform 2.25s ease-in, opacity 1s ease;
    transition-delay: 0.25s;
    opacity: 0;
}

.light-spot {
    position: fixed;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0.3);
    background-color: var(--text-color);
    top: 50%;
    left: 50%;
    box-shadow: 0 0 50px 60px var(--box-shadow);
    transition: transform 2s ease-in, opacity 1s ease;
    transition-delay: 0.5s;
    opacity: 0;
}

.darkmode .light-spot {
    box-shadow: 0 0 50px 60px white;
}

.sent .light-fighter {
    opacity: 1;
    transform: translate(-50%, -50%) scale(20);
}

.sent .light-spot {
    opacity: 1;
    transform: translate(-45%, -45%) scale(20);
}

main:before {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(135deg, transparent 49%, rgba(255, 255, 255, 0.4) 50%, transparent 51%);
}

main p {
    position: relative;
    font-size: 1.5rem;
    z-index: 10;
    transition: 0.5s ease;
    margin-top: 0;
}

.sent p {
    opacity: 0;
}

main p span {
    color: var(--accent-color-1-dark);
}

main .arrow {
    width: 100px;
    height: auto;
    filter: drop-shadow(2px 2px 3px var(--box-shadow));
    position: absolute;
    top: 10rem;
    left: 70%;
    opacity: 0;
    transition: 0.5s ease;
}

main.welcome-done .arrow {
    opacity: 1;
}

body.sent .arrow {
    opacity: 0;
}

.login-change-container {
    position: absolute;
    width: 100%;
    height: 50rem;
    top: 5rem;
    left: 0;
    transition: 0.5s ease;
}

.login-change-container.sent {
    transform: scale(0.3);
    opacity: 0;
}

.login-container {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.login-container.transition {
    transform: translate(-50%, -50%) scale(0.8);
    left: 25%;
    z-index: 10;
}

.registration-container {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%) scale(1);
}

.registration-container.transition {
    transform: translate(-50%, -50%) scale(0.8);
    left: 75%;
    z-index: 10;
}

.small {
    min-width: 30rem;
    transform: translate(-50%, -50%) scale(0.6);
    z-index: 1;
}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {
    main p {
        font-size: 2rem;
        max-width: 95rem;
    }

    main .arrow {
        width: 150px;
        top: 12rem;
        left: 62%;
    }

    .login-change-container {
        top: 8rem;
    }

    .login-container {
        left: calc(50% - 10rem);
    }

    .registration-container {
        left: calc(50% + 10rem);
    }
}

@media only screen and (min-width: 1200px) {
    main {
        max-width: 1500px;
    }
}
