.info {
    transition: 0.5s ease;
    margin-bottom: 3rem;
    font-size: 1.25rem;
    line-height: 1.5;
}

.registration-container {
    opacity: 0;
    margin: 0 auto 3rem;
    transition: 0.5s ease;
    transform: scale(0.5);
}

.welcome-done .registration-container {
    opacity: 1;
    transform: scale(1);
}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {
    main {
        max-width: 1500px;
    }
}
