body {
    overflow-x: hidden;
}

main h1 {
    font-size: 2.5rem;
    text-align: center;
}

h1 span {
    color: var(--accent-color-1-dark);
}

.category-container {
    position: relative;
    width: 48%;
    top: 0;
    min-height: 300px;
    height: calc(100% - 5rem - 4rem); /* 100% height - paddings and heading - space for buttons */
    background-color: rgba(200, 200, 200, 0.5);
    overflow-y: auto;
    padding: 0 1.5rem 3rem;
}

.darkmode .category-container {
    background-color: rgba(25, 25, 25, 0.75);

}

.left-category {
    float: left;
}

.right-category {
    float: right;
}

.category-container .fighter-card {
    position: relative;
    min-width: 100px;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto 0.75em;
    transform: translateX(0);
    background-color: var(--theme-color-3);
    box-shadow: 0 5px 15px 5px var(--box-shadow);
    border-radius: 3px;
    padding: 0;
    text-align: left;
    border: 2px solid var(--theme-color-3);
    transition: 0.2s ease;
    z-index: 1;
    font-size: 0.8rem;
    display: block;
}

.category-container .fighter-card:hover {
    background-color: var(--theme-color-4);
    border-color: var(--accent-color-1-light);
}

.category-container .fighter-card h2 {
    margin: 0.5em 0;
    border-bottom: none;
    box-shadow: none;
    font-weight: normal;
    font-size: 1.25em;
    padding-bottom: 0;
    width: 100%;
}

.category-container .fighter-card p {
    display: none;
    font-size: 1em;
    margin: 0.5em 0;
}

.category-container .fighter-card span {
    float: none;
    margin-left: 0;
    font-weight: normal;
}

.category-name {
    font-size: 2em;
    display: inline-block;
    width: calc(100% + 3rem);
    top: 0;
    position: sticky;
    padding: 0.5em 1em;
    color: var(--accent-color-1-dark);
    font-weight: bold;
    font-style: italic;
    background-color: var(--theme-color-1);
    border-bottom: 2px solid var(--accent-color-1-dark);
    box-shadow: 0 10px 15px -5px var(--box-shadow);
    z-index: 10;
    margin-bottom: 0.5em;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
}

.right-category-name {
    text-align: right;
}

.commands {
    clear: both;
    padding: 0.75rem 0;
}

a.divide {
    float: left;
    margin-left: 10%;
    font-size: 0.8rem;
}

a.cancel {
    float: right;
    margin-right: 10%;
    font-size: 0.8rem;
    z-index: 10005;
}

.fighter-card {
    position: absolute;
    min-width: 300px;
    width: 40%;
    max-width: 600px;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--theme-color-1);
    box-shadow: 0 5px 15px 5px var(--box-shadow);
    border-radius: 10px;
    padding: 0 1rem 2rem;
    text-align: center;
    border: 2px solid var(--theme-color-3);
    z-index: 10001;
    cursor: pointer;
    display: none;
    transition: 0.5s ease;
}

.fighter-card.drag {
    transition: none;
}

.fighter-card.current {
    display: block;
}

.fighter-card h2 {
    display: inline-block;
    width: auto;
    border-bottom: 2px solid var(--theme-color-5);
    padding: 0 1rem 0.25rem 1rem;
    box-shadow: 0 12px 10px -10px var(--box-shadow);
    text-shadow: 2px 2px 5px var(--text-shadow);
    margin-bottom: 2rem;
}

.fighter-card p {
    text-align: left;
    padding: 0 1.5rem;
    font-size: 1.2rem;
    margin-top: 0;
    margin-bottom: 0.75rem;
}

.fighter-card span {
    float: right;
    color: var(--accent-color-1-dark);
    font-weight: bold;
    margin-left: 0.5rem;
    margin-top: 0.25rem;
}

.assigning-commands {
    position: absolute;
    top: 75%;
    left: 50%;
    width: 40%;
    max-width: 400px;
    transform: translateX(-50%);
    justify-content: space-between;
    z-index: 10002;
    display: none;
}

.assigning-commands.active {
    display: flex;
}

.assigning-commands a {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    border: 3px solid var(--theme-color-1);
    background-color: var(--theme-color-1);
    box-shadow: 0 2px 7px 2px var(--box-shadow);
    transition: 0.2s ease;
    color: var(--accent-color-1-dark);
}

.assigning-commands a:hover {
    border-color: var(--accent-color-1-light);
    color: var(--accent-color-1-light);
    background-color: var(--theme-color-2);
    box-shadow: 0 0 3px 2px rgba(61, 118, 225, 1);
    transform: scale(1.2);
}

.assigning-commands i {
    padding: 0.75rem;
    font-size: 3rem;
}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {
    .category-container {
        height: calc(100% - 5rem - 6rem); /* 100% height - paddings and heading - space for buttons */
    }

    .category-container .fighter-card {
        font-size: 1rem;
    }

    .division-commands {
        justify-content: space-around;
    }

    a.divide {
        margin-left: 2.5%;
    }

    a.cancel {
        margin-right: 2.5%;
    }

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}
