@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
  url(../fonts/MaterialIcons-Regular.woff) format('woff'),
  url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

* {
  box-sizing: border-box;
  outline: none;
}

html {
  height: 100%;
  font-size: 1em;
  color: white;
  font-family: sans-serif;
}

body {
  min-height: 100%;
  height: 100%;
  width: 100%;
  background-color: #222222;
  background-image: url("../images/background.svg");
  background-size: 300px;
  background-position: center;
  background-repeat: repeat;
  position: relative;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

main {
  width: 100%;
  height: 100%;
  padding: 3rem;
  position: relative;
  margin: 0 auto;
  text-align: center;
}

main h1 {
  text-align: left;
  position: relative;
  top: 0;
  margin: 0 0 3rem 0;
  font-size: 3.5rem;
  text-shadow: 2px 2px 10px black;
}

.document-reservoir {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.document {
  display: inline-block;
  width: auto;
  max-width: 10rem;
  position: relative;
  text-align: center;
  margin-bottom: 2rem;
}

.document:hover {
  cursor: pointer;
}

.document i {
  font-size: 5rem;
  color: #20BF55;
  transition: 0.2s ease;
}

.document:hover i {
  color: #5EFC8D;
  filter: drop-shadow(0 0 5px #5EFC8D);
  transform: scale(1.2);
}

.document p {
  transition: 0.2s ease;
  font-size: 1.25rem;
  margin: 0.5rem 0 0 0;
  line-height: 1.25;
}

.document:hover p {
  color: #5EFC8D;
  text-decoration: underline;
}

.file-input-container {
   position: relative;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   padding: 0.5em;
   font-size: 1rem;
   max-width: 15rem;
   word-break: break-word;
 }

.file-input-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.file-input-container i {
  font-size: 3em;
  padding: 0.75rem;
  border-radius: 50%;
  background-color: #3D76E1;
  margin-bottom: 0.25em;
  transition: transform 0.1s ease-out 0s, background-color 0.2s ease;
}

.file-input-container:hover i {
  transform: scale(1.25);
  transition: transform 0.1s ease-out 0.3s, background-color 0.2s ease;
  background-color: #2699FB;
}

.file-input-container .file-name {
  display: block;
  font-weight: bold;
  font-size: 1.25em;
  word-wrap: normal;
  max-width: 100%;
  transition: 0.2s ease;
}

.file-input-container:hover .file-name {
  color: #2699FB;
}

a.primary-button {
   text-align: center;
   display: inline-block;
   width: 4em;
   height: 4em;
   margin: 2em;
   color: white;
   transition: 0.2s ease;
   background-color: transparent;
   transform-style: preserve-3d;
   font-size: 1.25rem;
 }

a.primary-button:before {
  content: '';
  position: absolute;
  border-radius: 50%;
  border: 2px solid white;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: -1;
  transition: 0.2s ease;
  box-shadow: 0 0 20px 3px #2699FB inset, 0 0 10px 3px black;
}

a.primary-button.cancel:before,
a.primary-button.delete:before {
  box-shadow: 0 0 20px 3px #F71735 inset, 0 0 10px 3px black;
}

a.primary-button:hover:before {
  width: 220%;
  height: 220%;
  opacity: 1;
  border-color: #2699FB;
}

a.primary-button.cancel:hover:before,
a.primary-button.delete:hover:before {
  border-color: #F71735;
}

.primary-button i {
  color: #3D76E1;
  position: absolute;
  font-size: 5em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.2s ease;
  z-index: 2;
  transform-style: preserve-3d;
}

.primary-button:hover i {
  color: #2699FB;
  top: 20%;
  transform: translate(-50%, -50%) scale(1.1) translateZ(30px);
}

.primary-button.cancel i,
.primary-button.delete i {
  color: #B23A48;
}

.primary-button.cancel:hover i,
.primary-button.delete:hover i {
  font-weight: bold;
  color: #F71735;
}

.primary-button p {
  top: 50%;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
  position: absolute;
  font-size: 1em;
  transition: 0.2s ease;
  z-index: 1;
  opacity: 0;
  transform-style: preserve-3d;
}

.primary-button:hover p {
  top: 100%;
  opacity: 1;
  transform: translate(-50%, -50%) translateZ(15px);
}

.document-bg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  color: black;
  opacity: 0.3;
  font-size: 25rem;
  z-index: -1;
  transition: opacity 1.25s ease, transform 1.25s ease, left 1s ease-out 1.5s;
}

.document-interaction {
  position: fixed;
  left: 0;
  bottom: -18rem;
  width: 100%;
  background: linear-gradient(#303030 25%, #171717);
  box-shadow: 0 0 15px 5px black;
  text-align: center;
  transition: 0.5s ease;
}

.document-interaction.active {
  bottom: 0;
}

.document-interaction div {
  margin: 2rem 0 1.5rem 0;
  font-size: 1.5rem;
  word-wrap: normal;
}

.document-interaction .document-name {
  background-color: #171717;
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  box-shadow: 0 0 9px 3px black inset;
  margin-left: 1rem;
  display: inline-block;
}

.document-interaction input.document-name {
  display: inline-block;
  color: white;
  border: none;
  box-shadow: 0 0 9px 3px black inset, 0 0 9px 3px #9B9B9B;
  font-style: italic;
}

.document-interaction .rename {
  font-size: 0.5rem;
  margin-bottom: -1em;
  margin-left: -4em;
}

.document-interaction .download {
  font-size: 1rem;
}

.document-interaction .delete {
  font-size: 0.75rem;
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  margin: 0;
}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {
  main {
    width: 1200px;
    box-shadow: 2px 0 7px 3px black;
  }
}
