<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />

    <title>Club-Detail</title>

    <!-- General styles and fonts and stuff like that -->
    <link rel="stylesheet" href="../../css/normalize.css" type="text/css" />
    <link rel="stylesheet" href="../../css/general-style.css" type="text/css" />
    <link rel="stylesheet" href="../../css/material-icons-font.css" type="text/css" />

    <!-- Specific style -->
    <link rel="stylesheet" href="../../css/components/vertical-card.css" type="text/css" />
    <link rel="stylesheet" href="../../css/components/club-detail.css" type="text/css" />
    <!--

        Webdesign by Markus Städler, weberlin-design.de, markus.staedler@weberlin-design.de

    -->

</head>
<body class="darkmode">

    <main>
        <div class="big-card">
            <h1>Verein</h1>
            <div class="info-container clearfix">
                <div class="info">
                    <p class="club-name">Die Analpiraten e.V.</p>
                    <p class="club-mail">anal@piraten.de</p>
                </div>
                <div class="image-container">
                    <img src="../../images/placeholder.png" alt="Profilbild" />
                </div>
            </div>
            <h2>Registrierte Personen</h2>
            <a data-bg="Kämpfer" class="vertical-card" href="#">
                <h3 class="district">
                    Kämpfer
                </h3>
                <span class="count">
                    20
                </span>
            </a>
            <a data-bg="Coaches" class="vertical-card" href="#">
                <h3 class="district">
                    Coaches
                </h3>
                <span class="count">
                    2
                </span>
            </a>
            <a data-bg="Kampfrichter" class="vertical-card" href="#">
                <h3 class="district">
                    Kampfrichter
                </h3>
                <span class="count">
                    1
                </span>
            </a>
            <a data-bg="Helfer" class="vertical-card" href="#">
                <h3 class="district">
                    Helfer
                </h3>
                <span class="count">
                    0
                </span>
            </a>
            <h2>Registrierte Teams</h2>
            <a data-bg="Teams" class="vertical-card" href="#">
                <h3 class="district">
                    Teams
                </h3>
                <span class="count">
                    3
                </span>
            </a>
        </div>
    </main>

</body>
</html>
