@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
  url(../fonts/MaterialIcons-Regular.woff) format('woff'),
  url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 1em;
  color: white;
  font-family: sans-serif;
}

body {
  min-height: 100%;
  height: 100%;
  width: 100%;
  background-color: #222222;
  overflow: hidden;
  background-image: url("../images/background.svg");
  background-size: 300px;
  background-position: center;
  background-repeat: repeat;
}

main.no-tournament {
  text-align: center;
  padding-top: 3rem;
  color: #BFBFBF;
  font-style: italic;
  transform-style: preserve-3d;
}

.no-tournament h1 {
  margin-bottom: 3rem;
}

.no-tournament .host-tournament {
  border-radius: 10px;
  border: 3px dashed #BFBFBF;
  padding: 5rem 5rem 2rem 5rem;
  width: 50%;
  position: relative;
  display: block;
  margin: 0 auto;
  transition: 0.2s ease;
  transform-style: preserve-3d;
  cursor: pointer;
  background: rgba(74, 74, 74, 0.5);
  box-shadow: 3px 3px 10px 3px black;
}

.no-tournament .host-tournament:hover {
  border: 3px dashed white;
  transform: translateZ(10px);
  box-shadow: 3px 3px 30px 10px black;
}

.no-tournament i {
  font-size: 3rem;
  border-radius: 50%;
  border: 3px solid #BFBFBF;
  padding: 2rem;
  color: #BFBFBF;
  transition: 0.2s ease;
  transform-style: preserve-3d;
  box-shadow: 0 0 15px 0 black;
}

.host-tournament:hover i {
  border-color: white;
  color: white;
  transform: translateZ(20px);
  box-shadow: 0 0 25px 3px black;
}

.host-tournament i:hover {
  transform: translateZ(20px) scale(1.3);
}

.no-tournament .host-tournament p {
  margin-top: 3rem;
  color: #BFBFBF;
  font-size: 1.5rem;
  transition: 0.2s ease;
  transform-style: preserve-3d;
  text-shadow: 0 0 3px black;
}

.no-tournament .host-tournament:hover p {
  color: white;
  transform: translateZ(60px);
  text-shadow: 0 0 20px black;
}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}
