@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
  url(../fonts/MaterialIcons-Regular.woff) format('woff'),
  url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

* {
  box-sizing: border-box;
  outline: none;
}

html {
  height: 100%;
  font-size: 0.8em;
  color: white;
  font-family: sans-serif;
}

body {
  min-height: 100%;
  height: 100%;
  width: 100%;
  background-color: #222222;
  overflow: hidden;
  background-image: url("../images/background.svg");
  background-size: 300px;
  background-position: center;
  background-repeat: repeat;
  position: relative;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.light-fighter {
  display: block;
  position: absolute;
  width: 3rem;
  height: auto;
  filter: drop-shadow(0 0 20px white);
  top: 50%;
  left: 50%;
  transform: translate(-45%, -45%) scale(0.3);
  transition: transform 2.25s ease-in, opacity 1s ease;
  transition-delay: 0.25s;
  opacity: 0;
}

.light-spot {
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0.3);
  background-color: white;
  top: 50%;
  left: 50%;
  box-shadow: 0 0 50px 60px white;
  transition: transform 2s ease-in, opacity 1s ease;
  transition-delay: 0.5s;
  opacity: 0;
}

.sent .light-fighter {
  opacity: 1;
  transform: translate(-50%, -50%) scale(20);
}

.sent .light-spot {
  opacity: 1;
  transform: translate(-45%, -45%) scale(20);
}

main {
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, transparent 49%, rgba(255, 255, 255, 0.4) 50%, transparent 51%);
  padding: 3rem;
  position: relative;
}

main p {
  position: absolute;
  font-size: 2rem;
  width: calc(100% - 6rem);
  top: calc(50% - 22rem);
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  transition: 0.5s ease;
}

.sent p {
  opacity: 0;
}

main p span {
  color: #3D76E1;
}

main .arrow {
  width: 100px;
  height: auto;
  filter: drop-shadow(2px 2px 3px black);
  position: absolute;
  top: calc(50% - 15rem);
  left: 70%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.5s ease;
}

main.welcome-done .arrow {
  opacity: 1;
}

body.sent .arrow {
  opacity: 0;
}

.login-container {
  background: radial-gradient(circle at 100% 100%, #303030 65%, #3D76E1);
  position: absolute;
  top: 55%;
  left: 40%;
  transform: translate(-50%, -50%);
  min-width: 20rem;
  width: 50%;
  max-width: 50rem;
  border-radius: 10px;
  box-shadow: 0 5px 15px 2px black;
  padding: 1rem 3rem 3rem;
  overflow: hidden;
  border: 10px solid rgba(0, 0, 0, 0.3);
  z-index: 5;
  transition: 0.5s ease;
}

.login-container.sent {
  transform: translate(-50%, -50%) scale(0.3);
  opacity: 0;
  left: 50%;
}

.login-container:before {
  content: '';
  position: absolute;
  top: -70%;
  left: 70%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.25);
  transition: 0.5s ease;
}

.login-container:hover:before {
  transform: scale(1.25);
}

.login-container.transition {
  transform: translate(-50%, -50%) scale(0.8);
  left: 25%;
  z-index: 10;
}

.login-container h1 {
  font-size: 3rem;
  margin: 1rem 0 5rem;
  text-shadow: 2px 2px 8px black;
}

.login-container .input-container {
  margin-bottom: 3rem;
}

.login-container .input-container:last-of-type {
  margin-bottom: 2rem;
}

.login-container a {
  display: inline-block;
  position: relative;
  font-size: 1.25rem;
  color: #3D76E1;
  transition: 0.2s ease;
  margin-top: -1rem;
}

.login-container a:hover,
.login-container a:focus {
  color: #2699FB;
}

.login-container .secondary-button,
.registration-container .secondary-button {
  position: relative;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background: #171717;
  transition: 0.5s ease;
  font-size: 1em;
  width: 10em;
  height: auto;
  border: 2px solid #3D76E1;
  color: white;
  padding: 0.5em 1.5em;
  float: right;
  margin-top: 5rem;
}

.registration-container .secondary-button {
  width: auto;
  padding: 0.5em 2em;
  margin-top: 5rem;
}

.secondary-button.delete {
  border-color: #B23A48;
  color: #B23A48;
  transition: background-color 0.2s ease 0s, color 0.2s ease 0s, border 0.2s ease 0s;
}

.secondary-button.disabled {
  border-color: #4A4A4A;
  color: #4A4A4A;
  cursor: not-allowed;
}

.secondary-button.abort {
  border-color: #B23A48;
}

.secondary-button:not(.disabled):hover,
.secondary-button:not(.disabled):focus {
  border: 2px solid #2699FB;
  color: #2699FB;
}

.secondary-button:not(.disabled).delete:hover {
  border: 2px solid #171717;
  color: #171717;
  background-color: #F71735;
  transition: background-color 0.2s ease 0.7s, color 0.2s ease 0.7s, border-color 0.2s ease 0.7s;
}

.secondary-button:not(.disabled).abort:hover {
  border: 2px solid #F71735;
  color: #F71735;
}

.secondary-button:before {
  content: '';
  position: absolute;
  z-index: 1;
  width: calc(100% + 6px);
  height: calc(100% - 1em);
  background: #171717;
  top: 0.5em;
  left: -3px;
  transition: 0.5s ease;
}

.secondary-button:after {
  content: '';
  position: absolute;
  z-index: 1;
  width: calc(100% - 1em);
  height: calc(100% + 4px);
  background: #171717;
  top: -2px;
  left: 0.5em;
  transition: 0.5s ease;
}

.secondary-button.delete:before,
.secondary-button.delete:after {
  transition-delay: 0.3s;
}

.secondary-button:not(.disabled):hover:before,
.secondary-button:not(.disabled):focus:before {
  top: 50%;
  height: 0;
}

.secondary-button:not(.disabled):hover:after,
.secondary-button:not(.disabled):focus:after {
  left: 50%;
  width: 0;
}

.secondary-button.delete:hover:before,
.secondary-button.delete:focus:before,
.secondary-button.delete:hover:after,
.secondary-button.delete:focus:after {
  transition-delay: 0s;
}

.secondary-button .text {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  font-size: 1.5em;
  overflow: hidden;
  z-index: 10;
}

.secondary-button .ripple {
  position: absolute;
  background-color: white;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  animation: ripple 1s ease-out infinite;
  pointer-events: none;
}

@keyframes ripple {
  from {
    width: 0;
    height: 0;
    opacity: 0.7;
  }
  to {
    width: 50rem;
    height: 50rem;
    opacity: 0;
  }
}

.registration-container {
  background: radial-gradient(circle at 0% 100%, #303030 65%, #3D76E1);
  position: absolute;
  top: 55%;
  left: 65%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 20rem;
  width: 50%;
  max-width: 50rem;
  border-radius: 10px;
  box-shadow: 0 5px 15px 2px black;
  padding: 1rem 3rem 3rem;
  overflow: hidden;
  border: 10px solid rgba(0, 0, 0, 0.3);
  z-index: 10;
  transition: 0.5s ease;
}

.registration-container.sent {
  transform: translate(-50%, -50%) scale(0.3);
  opacity: 0;
  left: 50%;
}

.registration-container h1 {
  font-size: 3rem;
  margin: 1rem 0 5rem;
  text-shadow: 2px 2px 8px black;
}

.registration-container .input-container {
  margin-bottom: 3rem;
}

.registration-container:before {
  content: '';
  position: absolute;
  top: 70%;
  left: -70%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.25);
  transition: 0.5s ease;
}

.registration-container:hover:before {
  transform: scale(1.25);
}

.small {
  min-width: 30rem;
  transform: translate(-50%, -50%) scale(0.6);
  z-index: 1;
}

.registration-container.transition {
  transform: translate(-50%, -50%) scale(0.8);
  left: 80%;
  z-index: 10;
}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {
  main p {
    font-size: 3rem;
    max-width: 95rem;
    top: calc(50% - 24rem);
  }

  main .arrow {
    width: 150px;
    top: calc(50% - 15rem);
    left: calc(50% + 15rem);
  }

  .login-container {
    left: calc(50% - 10rem);
  }

  .registration-container {
    left: calc(50% + 10rem);
  }
}

@media only screen and (min-width: 1200px) {

}
