@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
  url(../fonts/MaterialIcons-Regular.woff) format('woff'),
  url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

* {
  box-sizing: border-box;
  outline: none;
}

html {
  height: 100%;
  font-size: 0.8em;
  color: white;
  font-family: sans-serif;
}

body {
  min-height: 100%;
  height: 100%;
  width: 100%;
  background-color: #222222;
  perspective: 1000px;
  overflow: hidden;
  background-image: url("../images/background.svg");
  background-size: 300px;
  background-position: center;
  background-repeat: repeat;
  position: relative;
}

.light-fighter {
  display: block;
  position: absolute;
  width: 3rem;
  height: auto;
  filter: drop-shadow(0 0 20px white);
  top: 50%;
  left: 50%;
  transform: translate(-45%, -45%) scale(0.3);
  transition: transform 2.25s ease-in, opacity 1s ease;
  transition-delay: 0.5s;
  opacity: 0;
}

.light-spot {
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0.3);
  background-color: white;
  top: 50%;
  left: 50%;
  box-shadow: 0 0 50px 60px white;
  transition: transform 2s ease-in, opacity 1s ease;
  transition-delay: 0.75s;
  opacity: 0;
}

.sent .light-fighter {
  opacity: 1;
  transform: translate(-50%, -50%) scale(20);
}

.sent .light-spot {
  opacity: 1;
  transform: translate(-45%, -45%) scale(20);
}

main {
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, transparent 49%, rgba(255, 255, 255, 0.4) 50%, transparent 51%);
}

.modal-window {
  opacity: 0.9;
  position: fixed;
  width: 25em;
  height: 20em;
  top: 50%;
  left: 50%;
  z-index: 100;
  max-height: 80%;
  transform: translate(-50%, -50%);
  transition: 1s ease;
  font-size: 1rem; /* ADJUST Size individually */
}

.modal-window.sent {
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
}

.modal-window .modal-window-header {
  position: absolute;
  width: 80%;
  height: 100%;
  top: -35%;
  transform: translateX(-50%);
  left: 50%;
  border-left: 2px solid #2699FB;
  box-shadow: 1px 1px 5px black;
  z-index: 1;
  padding: 0.5em 0;
  transition: 0.5s ease;
  border-radius: 0.5em 0 0 0.5em;
}

.modal-window:hover .modal-window-header {
  top: -50%;
  border-left: 6px solid #2699FB;
}

.darkmode .modal-window .modal-window-header {
  background-color: #303030;
  color: white;
  text-shadow: 1px 1px 3px white;
  font-weight: bold;
  box-shadow: 3px 3px 13px 3px black;
}

.modal-window-header p {
  width: 60%;
  margin: 0;
  padding: 0.5em 0 0 1em;
  font-size: 2.5em;
}

.modal-window .mw-content {
  position: relative;
  height: 100%;
  width: 25em;
  top: 10%;
  left: 0;
  box-shadow: 5px 5px 15px 5px black;
  transition: 0.5s ease;
  background: radial-gradient(farthest-corner at bottom right, #4A4A4A 60%, rgba(38, 153, 251, 0.8));
  z-index: 2;
  padding-top: 1em;
  overflow: hidden;
}

.modal-window .mw-content:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #171717;
  opacity: 0.4;
  top:  -75%;
  left: 50%;
  transition: 0.5s ease;
  border-radius: 50%;
}

.modal-window:hover .mw-content {
  top: 15%;
}

.modal-window:hover .mw-content:before {
  left: 55%;
  top: -85%;
  transform: scale(1.5);
}

form .row {
  margin: 2.5em auto;
  position: relative;
  width: 70%;
  text-align: center;
}

form button {
  position: relative;
  bottom: 0;
  right: 1.5em;
  border: none;
  float: right;
  padding: 0.5em 0;
  cursor: pointer;
  transition: 0.2s ease;
  margin-top: 1.5em;
  font-size: 1.25em;
  width: 6em;
}

form button:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #222222;
  opacity: 0.3;
  width: 70%;
  height: 130%;
  z-index: -1;
  transition: 0.2s ease;
}

.darkmode form button {
  background-color: #222222;
  color: white;
}

form button:hover,
form button:focus {
  right: 2em;
  width: 5em;
  background-color: #4A4A4A;
  color: #2699FB;
}

form button:hover:before,
form button:focus:before{
  transform: translate(-50%, -50%);
  height: 125%;
  width: 110%;
  opacity: 1;
}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {
  html {
    font-size: 1em;
  }
}

@media only screen and (min-width: 992px) {

  .modal-window .modal-window-header {
    width: 100%;
    height: 80%;
    top: 50%;
    transform: translateY(-50%);
    left: -15%;
  }

  .modal-window:hover .modal-window-header {
    top: 50%;
    left: -50%;
  }

  .modal-window .mw-content {
    top: 0;
  }

  .modal-window:hover .mw-content {
    top: 0;
    left: 15%;
  }

  .modal-window-header p {
    padding: 2rem 0 0 2rem;
  }
}

@media only screen and (min-width: 1200px) {

}
