main {
  height: auto;
  padding-bottom: 5rem;
}

.open .bar-header {
   position: relative;
   top: 0;
   left: 0;
 }

.bar-header .heading {
  padding-right: 4em;
}

.bar-header:before,
.bar-header:after {
  background-color: #B23A48;
}

.bar-header:hover:before,
.bar-header:hover:after {
  background-color: #F71735;
}

.bar-header .open-indicator {
  color: #B23A48;
}

.prepared .bar-header:before,
.prepared .bar-header:after {
  background-color: #20BF55;
}

.prepared .bar-header:hover:before,
.prepared .bar-header:hover:after {
  background-color: #5EFC8D;
}

.prepared .bar-header .open-indicator {
  color: #20BF55;
}

.prepared .bar-header:hover .open-indicator,
.open.prepared .bar-header .open-indicator {
  color: #171717;
}

.prepared .prepared {
  position: absolute;
  color: #20BF55;
  font-size: 2.5em;
  font-weight: bold;
  top: 50%;
  transform: translateY(-50%);
  right: 0.75em;
}

.bar-header:hover .prepared {
  color: #5EFC8D;
}

.open .bar-content {
  border-color: #B23A48;
}

.open .bar-header:hover ~ .bar-content {
  border-color: #F71735;
}

.prepared .bar-content {
  border-color: #20BF55;
}

.open.prepared .bar-header:hover ~ .bar-content {
  border-color: #5EFC8D;
}

.bar-content .side {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bar-content .fighting-system {
  position: relative;
  font-size: 2em;
  font-style: italic;
  cursor: pointer;
  color: #3D76E1;
  transition: 0.2s ease;
  margin-top: 1em;
}

.prepared .fighting-system {
  font-weight: bold;
  font-style: normal;
}

.bar-content .fighting-system:hover {
  color: #2699FB;
}

.bar-content .fighting-system:before {
  content: 'Kampfsystem';
  position: absolute;
  font-style: italic;
  color: #303030;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) skewY(-10deg);
  text-shadow: 0 0 5px black;
  z-index: -1;
  font-size: 1.5em;
}

.bar-content .actions-container {
  height: 100%;
  text-align: center;
}

.bar-content .primary-button {
  font-size: 0.8rem;
  margin: 4em 3em;
}

.carousel-container {
  position: fixed;
  bottom: -15em;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s ease, bottom 0.5s ease;
  z-index: 100000;
}

.carousel-container.active {
  bottom: 50%;
  transform: translateX(-50%) translateY(50%);
}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {
  .bar-content .side {
    width: 50%;
    float: left;
    height: 100%;
  }

  .bar-content .fighting-system {
    margin-top: 0;
  }
}

@media only screen and (min-width: 1200px) {

}
