main {
  height: auto;
  padding-bottom: 5rem;
}

.bar-header input.category-name {
  background-color: rgba(74, 74, 74, 0.75);
  border: none;
  color: white;
  font-weight: bold;
  display: inline;
  min-width: 1em;
  margin-right: 0.5em;
  font-style: italic;
  animation: color-blink 0.5s ease infinite alternate;
}

@keyframes color-blink {
  from {
    color: white;
  }
  to {
    color: #2699FB;
  }
}

.bar-header input.category-name:focus {
  outline: none;
}

.bar-header .tools {
  float: right;
  position: relative;
  margin-right: 2em;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s ease;
}

.open .bar-header .tools {
  visibility: visible;
  opacity: 1;
}

.bar-header a.primary-button {
  width: 3em;
  height: 3em;
  margin: 1em;
  font-size: 0.75em;
}

.primary-button i {
  font-size: 3.5em;
}

.bar-content table, .bar-content th {
  border-collapse: collapse;
}

.bar-content table {
  width: 100%;
  text-align: left;
  font-size: 1.2em;
}

.bar-content tr {
  border-bottom: 1px solid #222222;
}

.bar-content table td {
  padding: 0.4em 0 0.4em 0.4em;
}

.bar-content table td:nth-child(even) {
  font-style: italic;
}

.carousel-container {
  position: fixed;
  bottom: -15em;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s ease, bottom 0.5s ease;
}

.open-accordion .carousel-container {
  bottom: 2em;
}

@media only screen and (min-width: 600px) {
  .accordion {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {
  .accordion {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 1200px) {
  main {
    width: 1200px;
    margin: 0 auto;
  }
}
