main {
  text-align: center;
}

main h1 {
  text-align: left;
  margin-bottom: 3rem;
}

.document-reservoir {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.document {
  display: inline-block;
  width: auto;
  max-width: 10rem;
  position: relative;
  text-align: center;
  margin-bottom: 2rem;
}

.document:hover {
  cursor: pointer;
}

.document i {
  font-size: 5rem;
  color: #20BF55;
  transition: 0.2s ease;
}

.document:hover i,
.document.chosen i {
  color: #5EFC8D;
  filter: drop-shadow(0 0 5px #5EFC8D);
  transform: scale(1.2);
}

.document p {
  transition: 0.2s ease;
  font-size: 1.25rem;
  margin: 0.5rem 0 0 0;
  line-height: 1.25;
}

.document:hover p {
  color: #5EFC8D;
  text-decoration: underline;
}

.file-input-container {
  margin-bottom: 5rem;
}

.document-bg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  color: black;
  opacity: 0.3;
  font-size: 25rem;
  z-index: -1;
  transition: opacity 1.25s ease, transform 1.25s ease, left 1s ease-out 1.5s;
}

.document-interaction {
  position: fixed;
  left: 0;
  bottom: -18rem;
  width: 100%;
  background: linear-gradient(#303030 25%, #171717);
  box-shadow: 0 0 15px 5px black;
  text-align: center;
  transition: 0.5s ease;
}

.document-interaction.active {
  bottom: 0;
}

.document-interaction div {
  margin: 2rem 0 1.5rem 0;
  font-size: 1.5rem;
  word-wrap: normal;
}

.document-interaction .document-name {
  background-color: #171717;
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  box-shadow: 0 0 9px 3px black inset;
  margin-left: 1rem;
  display: inline-block;
}

.document-interaction input.document-name {
  display: inline-block;
  color: white;
  border: none;
  box-shadow: 0 0 9px 3px black inset, 0 0 9px 3px #9B9B9B;
  font-style: italic;
}

.document-interaction .rename {
  font-size: 0.5rem;
  margin-bottom: -1em;
  margin-left: -4em;
}

.document-interaction .download {
  font-size: 1rem;
}

.document-interaction .delete {
  font-size: 0.75rem;
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  margin: 0;
}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {
  main {
    width: 1200px;
    box-shadow: 2px 0 7px 3px black;
  }
}
