main {
  height: auto;
}

.fight-places-container {
  text-align: left;
  margin: 4rem auto;
}

.fight-place {
  position: relative;
  background-color: #171717;
  display: inline-block;
  width: 18em;
  height: 18em;
  font-size: 0.75rem;
  box-shadow: 0 2px 6px 2em black;
  outline: 2em solid #171717;
  border: 2em solid #4A4A4A;
  margin: 3em;
  transition: 0.2s ease;
}

.fight-place:hover {
  outline-color: #2699FB;
}

.fight-place:before,
.fight-place:after {
  content: '';
  position: absolute;
  top: 50%;
  width: 2em;
  height: 4em;
  transform: translateY(-50%);
  background-color: #4A4A4A;
}

.fight-place:before {
  left: 2em;
}

.fight-place:after {
  right: 2em;
}

.fight-place h2,
.fight-place input {
  position: absolute;
  width: calc(100% + 3em);
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-size: 2em;
  text-shadow: 2px 2px 4px black;
  color: #3D76E1;
  font-style: italic;
}

.fight-place input {
  background-color: #222222;
  border: none;
  padding: 0.25em;
  top: calc(5% - 0.25em);
  box-shadow: 0 3px 5px 2px black, 0 0 5px 5px white;
}

.fight-place .primary-button {
  font-size: 0.75em;
  position: absolute;
  margin: 0;
  top: calc(50% - 2em);
}

.fight-place .rename {
  left: 2em;
}

.fight-place .delete {
  right: 2em;
}

.fight-place p.fights {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  font-size: 1.75em;
  margin: 0;
  padding-left: 1em;
}

.fight-place p.fights span {
  color: #3D76E1;
  font-weight: bold;
  font-size: 1.5em;
  vertical-align: middle;
}

.add-container {
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 2em;
  font-size: 0.8rem;
}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {
  .fight-place {
    font-size: 0.9rem;
  }
}

@media only screen and (min-width: 992px) {
  .add-container {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1200px) {

}
