main {
  padding-bottom: 10rem;
}

main h1 {
  margin-bottom: 3rem;
}

.perspective-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  perspective: 1000px;
}

.tournament-card {
  display: inline-block;
  width: 20rem;
  height: 30rem;
  transition: 0.5s ease;
  position: relative;
  margin-right: 2rem;
  margin-bottom: 1rem;
  text-decoration: none;
  transform-style: preserve-3d;
  box-shadow: 3px 3px 15px var(--box-shadow);
  border-radius: 15px;
}

.tournament-card:hover {
  transform: scale(1.05);
  box-shadow: 3px 3px 25px var(--box-shadow);
}

.tournament-card.flipped {
  transform: rotateY(180deg);
}

.tournament-card.flipped:hover {
  transform: rotateY(180deg) scale(1.05);
  box-shadow: 3px 3px 25px var(--box-shadow);
}

.tournament-card .front {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  opacity: 0.999;
  width: 100%;
  height: 100%;
  margin: 0;
  position: absolute;
}

.tournament-card .front:hover {
  transform: none;
}

.tournament-card .back {
  text-align: center;
  display: block;
  font-size: 1rem;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: var(--theme-color-3);
  transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 15px;
  transition: 0.5s ease;
  cursor: pointer;
  opacity: 0.999;
}

.tournament-card .back:hover {
  background-color: var(--theme-color-4);
}

.tournament-card .back h3 {
  position: relative;
  font-size: 2em;
  margin-bottom: 1em;
}

.tournament-card .back p {
  position: relative;
  font-size: 1.5em;
}

.tournament-card .back h3:after, .tournament-card .back p:after {
  content: attr(data-key);
  position: absolute;
  top: -80%;
  left: 50%;
  transform: translateX(-50%);
  color: var(--theme-color-1);
  opacity: 0.5;
  font-size: 2rem;
  font-weight: bold;
  z-index: -1;
}

.tournament-card .secondary-button {
  position: relative;
  font-size: 1em;
  width: 80%;
  margin-top: 1rem;
}

.tournament-card .secondary-button:first-of-type {
  margin-top: 2rem;
}

/*
  Controls
 */

.flip-control {
  top: auto;
  bottom: 2em;
  left: calc(50% - 10rem);
  transform: translateX(-50%);
  font-size: 1rem;
}

.add-tournament-control {
  font-size: 1rem;
  left: calc(50% + 10rem);
  transform: translateX(-50%);
  top: auto;
  bottom: 2em;
}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}
