@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
  url(../fonts/MaterialIcons-Regular.woff) format('woff'),
  url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

* {
  box-sizing: border-box;
  outline: none;
}

html {
  height: 100%;
  font-size: 1em;
  color: white;
  font-family: sans-serif;
}

body {
  min-height: 100%;
  height: 100%;
  width: 100%;
  background-color: #222222;
  background-image: url("../images/background.svg");
  background-size: 300px;
  background-position: center;
  background-repeat: repeat;
  position: relative;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

p {
  text-align: center;
  font-size: 3rem;
  margin-top: 15rem;
}

.tt-container {
  position: relative;
}

.tt-trigger {
  color: #3D76E1;
  cursor: pointer;
  vertical-align: middle;
}

.tt-trigger i {
  font-size: 3rem;
  transition: 0.2s ease;
}

.tt-trigger:hover i {
  color: #2699FB;
}

.tooltip {
  position: absolute;
  visibility: hidden;
  font-size: 1.5rem;
  background-color: #3D76E1;
  color: black;
  padding: 0.5em;
  min-width: 10rem;
  top: -3.5em;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.2s ease;
  opacity: 0;
}

.tooltip:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-top: 10px solid #3D76E1;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}

.tt-trigger:hover ~ .tooltip,
.tooltip:hover {
  visibility: visible;
  opacity: 0.8;
}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}
