@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
  url(../fonts/MaterialIcons-Regular.woff) format('woff'),
  url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

* {
  box-sizing: border-box;
  outline: none;
}

html {
  height: 100%;
  font-size: 0.8em;
  color: white;
  font-family: sans-serif;
}

body {
  min-height: 100%;
  height: 100%;
  width: 100%;
  background-color: #222222;
  perspective: 1000px;
  overflow: hidden;
  background-image: url("../images/background.svg");
  background-size: 300px;
  background-position: center;
  background-repeat: repeat;
  position: relative;
}

main {
  width: 100%;
  height: 100%;
  padding: 3rem;
  transition: 0.2s ease 0.5s;
}

main.blur {
  filter: blur(5px);
  transition: 0.2s ease 0s;
}

main h1 {
  font-size: 3rem;
  margin: 0 auto;
}

main .modal-button {
  margin: 5rem 0;
  display: inline-block;
  font-size: 2rem;
  background-color: #171717;
  padding: 1rem;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.2s ease 0.7s;
}

.overlay.open {
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.2s ease;
}

.modal-window {
  position: absolute;
  min-width: 25em;
  width: 50%;
  max-width: 60em;
  top: 40%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.5s ease 0.5s;
  font-size: 1rem; /* ADJUST Size individually */
  background-color: #222222;
  box-shadow: 0 10px 15px 3px black;
}

.open .modal-window {
  transform: translate(-50%, -50%) scale(1);
}

a.primary-button.close-modal {
  position: absolute;
  right: -1em;
  top: -1em;
  text-align: center;
  display: inline-block;
  width: 3em;
  height: 3em;
  color: white;
  transition: 0.2s ease;
  background-color: transparent;
  transform-style: preserve-3d;
  font-size: 1rem;
  z-index: 100;
  cursor: pointer;
}

a.primary-button:before {
  content: '';
  position: absolute;
  border-radius: 50%;
  border: 2px solid white;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: -1;
  transition: 0.2s ease;
  box-shadow: 0 0 20px 3px #2699FB inset, 0 0 10px 3px black;
}

a.primary-button.cancel:before,
a.primary-button.close:before,
a.primary-button.delete:before {
  box-shadow: 0 0 20px 3px #F71735 inset, 0 0 10px 3px black;
}

a.primary-button.documents:before {
  box-shadow: 0 0 20px 3px #5EFC8D inset, 0 0 10px 3px black;
}

a.primary-button.messages:before {
  box-shadow: 0 0 20px 3px #FFF275 inset, 0 0 10px 3px black;
}

a.primary-button:hover:before {
  width: 220%;
  height: 220%;
  opacity: 1;
  border-color: #2699FB;
}

a.primary-button.cancel:hover:before,
a.primary-button.close:hover:before,
a.primary-button.delete:hover:before {
  border-color: #F71735;
}

a.primary-button.documents:hover:before {
  border-color: #5EFC8D;
}

a.primary-button.messages:hover:before {
  border-color: #FFF275;
}

.primary-button i {
  color: #3D76E1;
  position: absolute;
  font-size: 5em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.2s ease;
  z-index: 2;
  transform-style: preserve-3d;
}

.primary-button:hover i {
  color: #2699FB;
  top: 20%;
  transform: translate(-50%, -50%) scale(1.1) translateZ(30px);
}

.primary-button.cancel i,
.primary-button.close i,
.primary-button.delete i {
  color: #B23A48;
}

.primary-button.close-modal i {
  color: #171717;
  background-color: #B23A48;
  border-radius: 50%;
  padding: 0.1em;
  font-size: 3.5em;
  box-shadow: 0 3px 5px 2px black;
}

.primary-button.documents i {
  color: #20BF55;
}

.primary-button.messages i {
  color: #E3B505;
}

.primary-button.cancel:hover i,
.primary-button.close:hover i,
.primary-button.delete:hover i {
  font-weight: bold;
  color: #F71735;
}

.primary-button.close-modal:hover i {
  background-color: transparent;
  box-shadow: none;
}

.primary-button.documents:hover i {
  color: #5EFC8D;
}

.primary-button.messages:hover i {
  color: #FFF275;
}

.primary-button p {
  top: 50%;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
  position: absolute;
  font-size: 1em;
  transition: 0.2s ease;
  z-index: 1;
  opacity: 0;
  transform-style: preserve-3d;
}

.primary-button:hover p {
  top: 100%;
  opacity: 1;
  transform: translate(-50%, -50%) translateZ(15px);
}

.modal-window .mw-header{
  height: auto;
  overflow: hidden;
  margin: 0.75em 0 1em 0;
  background-color: #171717;
  font-weight: bold;
  transition: 0.5s ease 0s;
}

.open .modal-window .mw-header {
  height: 0;
  transition: 0.5s ease 1.2s;
}

.modal-window .mw-header h2 {
  font-size: 2em;
  padding: 0.75em 1.5em 0.75em 1.5em;
  margin: 0;
  text-shadow: 2px 2px 5px black;
  color: white;
}

.modal-window .mw-content {
  font-size: 1.5em;
  padding: 0.5em 1em 1.5em;
  line-height: 1.5;
  overflow-y: auto;
  max-height: 10em;
}

.mw-content p {
  margin: 0;
}

.modal-window .mw-footer {
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 2em 1em 1em;
  border-top: 2px solid #171717;
}

.modal-window .secondary-button {
  position: relative;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  background: #171717;
  transition: 0.5s ease;
  font-size: 1rem;
  height: auto;
  border: 2px solid #3D76E1;
  color: white;
  padding: 0.5em 1em;
}

.secondary-button.delete {
  border-color: #B23A48;
  color: #B23A48;
  transition: background-color 0.2s ease 0s, color 0.2s ease 0s, border 0.2s ease 0s;
}

.secondary-button.abort {
  border-color: #B23A48;
}

.secondary-button:hover,
.secondary-button:focus {
  border: 2px solid #2699FB;
  color: #2699FB;
}

.secondary-button.delete:hover {
  border: 2px solid #171717;
  color: #171717;
  background-color: #F71735;
  transition: background-color 0.2s ease 0.7s, color 0.2s ease 0.7s, border-color 0.2s ease 0.7s;
}

.secondary-button.abort:hover {
  border: 2px solid #F71735;
  color: #F71735;
}

.secondary-button:before {
  content: '';
  position: absolute;
  z-index: 1;
  width: calc(100% + 6px);
  height: calc(100% - 1em);
  background: #171717;
  top: 0.5em;
  left: -3px;
  transition: 0.5s ease;
}

.secondary-button:after {
  content: '';
  position: absolute;
  z-index: 1;
  width: calc(100% - 1em);
  height: calc(100% + 4px);
  background: #171717;
  top: -2px;
  left: 0.5em;
  transition: 0.5s ease;
}

.secondary-button.delete:before,
.secondary-button.delete:after {
  transition-delay: 0.3s;
}

.secondary-button:hover:before,
.secondary-button:focus:before {
  top: 50%;
  height: 0;
}

.secondary-button:hover:after,
.secondary-button:focus:after {
  left: 50%;
  width: 0;
}

.secondary-button.delete:hover:before,
.secondary-button.delete:focus:before,
.secondary-button.delete:hover:after,
.secondary-button.delete:focus:after {
  transition-delay: 0s;
}

.secondary-button .text {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  font-size: 1.5em;
  overflow: hidden;
  z-index: 10;
}

.secondary-button .ripple {
  position: absolute;
  background-color: white;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  animation: ripple 1s ease-out infinite;
  pointer-events: none;
}

@keyframes ripple {
  from {
    width: 0;
    height: 0;
    opacity: 0.7;
  }
  to {
    width: 50rem;
    height: 50rem;
    opacity: 0;
  }
}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}
