main h3 {
  text-align: center;
  font-size: 2.5rem;
  border-bottom: 3px solid #4A4A4A;
  margin: 5rem auto 3rem;
  width: 20%;
  box-shadow: 0 15px 10px -10px black;
}

.accordion {
   margin: 0 auto;
   width: 100%;
  font-size: 0.9rem;
 }

.accordion-bar {
  position: relative;
  margin: 0;
  width: 100%;
  height: auto;
  cursor: pointer;
  transition: 0.2s ease;
}

.bar-header {
  position: relative;
  transition: 0.2s ease;
  background-color: #171717;
  overflow: hidden;
}

.bar-header:hover {
  background-color: #303030;
}

.open .bar-header {
  position: sticky;
  top: 4em;
  left: 0;
  z-index: 5;
}

.bar-header:before,
.bar-header:after {
  content: '';
  position: absolute;
  width: 1em;
  height: 100%;
  top: 0;
  background-color: #3D76E1;
  transition: 0.2s ease;
  z-index: 0;
}

.accordion-bar:nth-of-type(even) .bar-header:before,
.accordion-bar:nth-of-type(even) .bar-header:after {
  transform: skew(5deg);
}

.accordion-bar:nth-of-type(odd) .bar-header:before,
.accordion-bar:nth-of-type(odd) .bar-header:after {
  transform: skew(-5deg);
}

.bar-header:hover:before,
.bar-header:hover:after {
  background-color: #2699FB;
}

.bar-header:before {
  left: -0.5em;
}

.bar-header:hover:before,
.open .bar-header:before {
  width: 4em;
}

.bar-header:after {
  right: -0.5em;
}

.bar-header:hover:after,
.open .bar-header:after {
  width: 2em;
}

.bar-header .open-indicator {
  position: absolute;
  font-size: 3em;
  color: #3D76E1;
  top: 50%;
  transform: translateY(-50%);
  left: 0.1em;
  transition: 0.2s ease;
}

.bar-header:hover .open-indicator {
  color: #171717;
  transform: translateY(-50%) scale(1.5);
}

.accordion-bar.open .open-indicator {
  color: #171717;
  transform: translateY(-50%) rotate(180deg);
}

.accordion-bar .category {
  display: inline-block;
  width: auto;
  padding-left: 3em;
  padding-right: 1em;
  position: relative;
  z-index: 1;
}

.accordion-bar h3, .accordion-bar h4 {
  width: 80%;
  font-size: 1.4em;
  margin: 0 auto;
  padding: 0.75em 0;
}

.bar-header input.category-name {
  background-color: rgba(74, 74, 74, 0.75);
  border: none;
  color: white;
  font-weight: bold;
  display: inline;
  min-width: 1em;
  margin-right: 0.5em;
  font-style: italic;
  animation: color-blink 0.5s ease infinite alternate;
}

@keyframes color-blink {
  from {
    color: white;
  }
  to {
    color: #2699FB;
  }
}

.bar-header input.category-name:focus {
  outline: none;
}

.bar-header .tools {
  float: right;
  position: relative;
  margin-right: 2em;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s ease;
}

.open .bar-header .tools {
  visibility: visible;
  opacity: 1;
}

.bar-header a.primary-button {
  text-align: center;
  display: inline-block;
  width: 3em;
  height: 3em;
  margin: 1em;
  color: white;
  transition: 0.2s ease;
  background-color: transparent;
  transform-style: preserve-3d;
  font-size: 0.75em;
  z-index: 100;
}

a.primary-button:before {
  content: '';
  position: absolute;
  border-radius: 50%;
  border: 2px solid white;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: -1;
  transition: 0.2s ease;
  box-shadow: 0 0 20px 3px #2699FB inset, 0 0 10px 3px black;
}

a.primary-button.cancel:before,
a.primary-button.close:before,
a.primary-button.delete:before {
  box-shadow: 0 0 20px 3px #F71735 inset, 0 0 10px 3px black;
}

a.primary-button.documents:before {
  box-shadow: 0 0 20px 3px #5EFC8D inset, 0 0 10px 3px black;
}

a.primary-button.messages:before {
  box-shadow: 0 0 20px 3px #FFF275 inset, 0 0 10px 3px black;
}

a.primary-button:hover:before {
  width: 220%;
  height: 220%;
  opacity: 1;
  border-color: #2699FB;
}

a.primary-button.cancel:hover:before,
a.primary-button.close:hover:before,
a.primary-button.delete:hover:before {
  border-color: #F71735;
}

a.primary-button.documents:hover:before {
  border-color: #5EFC8D;
}

a.primary-button.messages:hover:before {
  border-color: #FFF275;
}

.primary-button i {
  color: #3D76E1;
  position: absolute;
  font-size: 3.5em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.2s ease;
  z-index: 2;
  transform-style: preserve-3d;
}

.primary-button:hover i {
  color: #2699FB;
  top: 20%;
  transform: translate(-50%, -50%) scale(1.1) translateZ(30px);
}

.primary-button.cancel i,
.primary-button.close i,
.primary-button.delete i {
  color: #B23A48;
}

.primary-button.documents i {
  color: #20BF55;
}

.primary-button.messages i {
  color: #E3B505;
}

.primary-button.cancel:hover i,
.primary-button.close:hover i,
.primary-button.delete:hover i {
  font-weight: bold;
  color: #F71735;
}

.primary-button.documents:hover i {
  color: #5EFC8D;
}

.primary-button.messages:hover i {
  color: #FFF275;
}

.primary-button p {
  top: 50%;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
  position: absolute;
  font-size: 1em;
  transition: 0.2s ease;
  z-index: 1;
  opacity: 0;
  transform-style: preserve-3d;
}

.primary-button:hover p {
  top: 100%;
  opacity: 1;
  transform: translate(-50%, -50%) translateZ(15px);
}

.bar-content {
  text-align: center;
  position: relative;
  width: 100%;
  display: none;
  height: 0;
  transition: height 0.5s ease, border-color 0.2s ease;
  overflow: hidden;
  background-color: rgba(23, 23, 23, 0.5);
}

.open .bar-content {
  border: 1px solid #3D76E1;
}

.open .bar-header:hover ~ .bar-content {
  border: 1px solid #2699FB;
}

.bar-content table {
  width: 100%;
  text-align: left;
  font-size: 1.2em;
}

.bar-content tr {
  border-bottom: 1px solid #222222;
}

.bar-content table td {
  width: 45%;
  padding: 0.4em 0 0.4em 3%;
}

.bar-content table td:first-child {
  width: 10%;
}

.bar-content table, .bar-content th {
  border-collapse: collapse;
}

@media only screen and (min-width: 600px) {
  .accordion {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {
  .accordion {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 1200px) {
  main {
    width: 1200px;
    margin: 0 auto;
  }
}
