/*
/-------------------------------------------------------------------
/
/   Styles for: Carousel
/
/-------------------------------------------------------------------
/
/ Generic Markup:
/   <div class="carousel-container">
/     <div class="page-wrapper">
/       <div class="page">
/         <h3>Page-Heading</h3>
/         <a class="secondary-button">
/           <span class="text">
/             Link-Text
/           </span>
/         </a>
/       </div>
/       More pages...
/     </div
/   </div>
/
/
*/


.carousel-container {
  width: 100%;
  height: 20em;
  transition: 0.5s ease;
  z-index: 10;
  perspective: 1000px;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  font-size: 1rem;
}

.carousel-container .page-wrapper {
  height: 100%;
  width: 15em;
  position: relative;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
}

.carousel-container .page {
  position: absolute;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  padding: 1em;
  top: 0;
  left: 0;
  box-shadow: 0 0 15px 3px var(--box-shadow);
  z-index: 2;
  background: radial-gradient(circle at 0% 100%, rgba(207, 207, 207, 1) 60%, rgba(61, 118, 225, 0.9));
  font-size: 1rem;
  opacity: 1;
  display: inline-block;
  backface-visibility: hidden;
}

.darkmode .carousel-container .page {
  background: radial-gradient(circle at 0% 100%, rgba(48, 48, 48, 1) 60%, rgba(61, 118, 225, 0.9));
}

.carousel-container .page.inactive {
  color: #6B6B6B;
  background: radial-gradient(circle at 0% 100%, rgba(150, 150, 150, 1) 85%, rgba(61, 118, 225, 0.9));
  opacity: 0.9;
}

.darkmode .carousel-container .page.inactive {
  color: #828282;
  background: radial-gradient(circle at 0% 100%, rgba(48, 48, 48, 1) 85%, rgba(61, 118, 225, 0.9));
}

.page h3 {
  margin-top: 40%;
  font-size: 1.5em;
  padding: 0.25em 0;
  border-top: 3px solid #4A4A4A;
  border-bottom: 3px solid #4A4A4A;
  box-shadow: 0 20px 20px -18px var(--box-shadow), 0 -20px 20px -18px var(--box-shadow);
  text-align: center;
  letter-spacing: 0.05em;
  font-weight: normal;
}

.carousel-container .secondary-button {
  position: absolute;
  bottom: 1em;
  left: 50%;
  font-size: 0.75em;
  width: 90%;
  transform: translateX(-50%);
}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}
