.is-typing:after {
    content: '|';
    color: var(--accent-color-1-light);
    -webkit-animation: blink 650ms infinite;
    animation: blink 650ms infinite;
}

@-webkit-keyframes blink {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes blink {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}