.vertical-card {
  display: block;
  border-radius: 15px;
  width: 100%;
  height: 8rem;
  background-color: #303030;
  transition: 0.5s ease;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  box-shadow: 3px 3px 15px black;
  margin-bottom: 2rem;
  text-decoration: none;
  font-size: 0.75rem;
}

.vertical-card:before {
  content: '';
  position: absolute;
  display: block;
  top: 50%;
  left: -50%;
  width: 200%;
  height: 15rem;
  transform: translateY(20%) rotate(-20deg);
  transform-origin: 50% -100%;
  background-color: #3D76E1;
  transition: 0.5s ease;
  z-index: 1;
  margin-bottom: 2rem;
}

.vertical-card:hover {
  background-color: #4A4A4A;
  transform: scale(1.05);
  box-shadow: 3px 3px 25px black;
}

.vertical-card:hover:before {
  transform: translateY(20%) rotate(20deg);
  background-color: #2699FB;
}

.vertical-card:after {
  content: attr(data-bg);
  position: absolute;
  bottom: -0.1em;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-size: 5em;
  color: black;
  opacity: 0.1;
  text-align: center;
  font-weight: 900;
  z-index: 0;
  text-shadow: 2px 2px 4px black;
}

.vertical-card .district {
  position: absolute;
  text-align: center;
  display: inline-block;
  margin: 0;
  color: #171717;
  font-size: 3em;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  z-index: 10;
  transition: 0.5s ease;
  text-shadow: 1px 1px 2px black;
}

.vertical-card:hover .district {
  color: #C6C6C6;
  font-size: 3.5em;
  text-shadow: 1px 1px 4px black;
}

.vertical-card .count {
  position: absolute;
  font-size: 5em;
  font-weight: bold;
  color: #171717;
  z-index: 3;
  top: 75%;
  transform: translateY(-50%);
  right: 2%;
  transition: 0.5s ease;
}

.vertical-card:hover .count {
  color: #2699FB;
  top: 50%;
  right: 7.5%;
}

@media only screen and (min-width: 600px) {
  .vertical-card {
    font-size: 0.85rem;
  }
}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

  .vertical-card {
    font-size: 1rem;
  }
}
