.legal h3 {
    margin: 0 0 0.5rem;
}

.legal p {
    margin: 0 0 2rem;
}

.legal .main-logo {
    height: auto;
    width: 50%;
    max-width: 8rem;
}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}
