.form-error {
    padding: 0.75rem;
    background-color: rgba(178, 58, 72, 0.8);
    border: 1px solid var(--error-light);
}

.form-container,
.login-container,
.registration-container {
    background: radial-gradient(circle at 100% 100%, var(--theme-color-3) 65%, var(--accent-color-1-dark));
    position: relative;
    min-width: 22rem;
    width: 50%;
    max-width: 50rem;
    border-radius: 10px;
    box-shadow: 0 5px 15px 2px var(--box-shadow);
    padding: 1rem 1.5rem 3rem;
    overflow: hidden;
    border: 10px solid rgba(0, 0, 0, 0.3);
    z-index: 5;
    transition: 0.5s ease;
}

.registration-container {
    background: radial-gradient(circle at 0% 100%, var(--theme-color-3) 65%, var(--accent-color-1-dark));
}

.login-container:before {
    content: '';
    position: absolute;
    top: -70%;
    left: 70%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.25);
    transition: 0.5s ease;
}

.registration-container:before {
    content: '';
    position: absolute;
    top: 70%;
    left: -70%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.25);
    transition: 0.5s ease;
}

.login-container:hover:before,
.registration-container:hover:before {
    transform: scale(1.25);
}

.form-container h2,
.login-container h2,
.registration-container h2 {
    font-size: 2.5rem;
    margin: 0.5rem 0 3rem;
    text-shadow: 2px 2px 8px var(--text-shadow);
}

.form-container .input-container,
.login-container .input-container,
.registration-container .input-container {
    margin-bottom: 2rem;
}

.login-container .input-container:last-of-type {
    margin-bottom: 1rem;
}

.login-container a {
    display: inline-block;
    font-size: 1.25rem;
    margin-top: -1rem;
}

.form-container .secondary-button,
.login-container .secondary-button,
.registration-container .secondary-button {
    font-size: 0.8em;
    height: auto;
    float: right;
    width: auto;
    margin-top: 3rem;
}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {
    .login-container,
    .registration-container {
        padding: 1rem 3rem 3rem;
    }
}

@media only screen and (min-width: 1200px) {

}
