/*
/-------------------------------------------------------------------
/
/   Styles for: Map
/
/-------------------------------------------------------------------
/
/ Generic Markup
/
/
/
*/

.map-container {
    width: 100vw;
    height: 100vh;
    overflow: scroll;
}

.map {
    font-size: 1rem; /* ADJUST SIZE */
    min-width: 150rem;
    height: auto;
    padding: 12rem 10rem;
    cursor: grab;
}

.map.shifting {
    cursor: grabbing;
    user-select: none;
}

.primary-button-floating-container.map-controls {
    top: auto;
    left: auto;
    bottom: 2em;
    right: 2em;
    font-size: 0.6rem;
}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}
