/*
/-------------------------------------------------------------------
/
/   Styles for: Modal Windows
/
/-------------------------------------------------------------------
/
/ Generic Markup (e.g. Confirmation Modal):
/   <div class="overlay">
/     <div class="modal-window">
/       <a class="primary-button", "close-modal", "close">
/         <i class="material-icons">close</i>
/         <p>Close</p>
/       </a>
/       <div class="mw-header">
/         <h2>Heading</h2>
/       </div>
/       <div class="mw-content">
/         Content goes here...
/       </div>
/       <div class="mw-footer">
/         <secondary-button class="abort" />
/         <secondary-button class="confirm" />
/       </div>
/
/
*/


main {
    transition: 0.2s ease 0.5s;
}

main.blur {
    filter: blur(5px);
    transition: 0.2s ease 0s;
}

.overlay,
.just-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.2s ease 0.7s;
    z-index: 10000;
    overflow-y: auto;
}

.overlay {
    z-index: 100000;
}

.just-overlay {
    transition: 0.2s ease;
}

.overlay.open,
.just-overlay.open {
    background-color: rgba(35, 35, 35, 0.5);
    transition: 0.2s ease;
}

.modal-window {
    position: absolute;
    min-width: 20em;
    width: 50%;
    max-width: 50em;
    top: 10%;
    left: 50%;
    z-index: 100;
    transform: translateX(-50%) scale(0);
    transition: 0.5s ease 0.5s;
    font-size: 1rem; /* ADJUST Size individually */
    background-color: var(--theme-color-2);
    box-shadow: 0 10px 15px 3px var(--box-shadow);
}

.modal-window:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 3rem;
    visibility: hidden;
}

.open .modal-window {
    transform: translateX(-50%) scale(1);
}

a.primary-button.close-modal {
    position: absolute;
    right: -1em;
    top: -1em;
    width: 3em;
    height: 3em;
    margin: 0;
}

a.primary-button.close-modal i {
    color: var(--theme-color-1-dark);
    background-color: var(--accent-color-2-dark);
    border-radius: 50%;
    padding: 0.1em;
    font-size: 3.5em;
    box-shadow: 0 3px 5px 2px var(--box-shadow);
}

.primary-button.close-modal:hover i {
    background-color: transparent;
    box-shadow: none;
}

.modal-window .mw-header {
    height: 0;
    overflow: hidden;
    margin: 0.75em 0 1em 0;
    background-color: var(--theme-color-1);
    font-weight: bold;
    transition: 0.5s ease;
}

.modal-window .mw-header h2 {
    font-size: 1.75em;
    padding: 0.5em 1.5em 0.5em 1.5em;
    margin: 0;
    text-shadow: 1px 1px 3px var(--text-shadow);
    color: var(--text-color);
}

.modal-window .mw-body {
    max-height: 55vh;
    overflow-y: auto;
}

.modal-window .mw-content {
    padding: 0.5em 1em 1.5em;
    word-wrap: break-word;
}

.mw-content p {
    margin: 0;
    line-height: 1.5;
}

.mw-content h2 {
    font-size: 1em;
    margin-top: 0;
}

.mw-content h3 {
    margin-top: 0;
}

.mw-content .input-container {
    margin-bottom: 1em;
}

.modal-window .mw-footer {
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 1.5em 1em 1em;
    border-top: 2px solid var(--theme-color-1);
}

.modal-window .secondary-button {
    font-size: 0.8em;
    letter-spacing: 0;
    text-transform: none;
    height: auto;
    width: 12em;
    margin: 0;
}

.custom-modal-window {
    position: absolute;
    width: 90%;
    max-width: 1200px;
    min-height: 90%;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%) scale(0);
    background-color: var(--theme-color-1);
    padding: 2rem 1rem 2rem;
    border-radius: 10px;
    box-shadow: 0 3px 10px 5px var(--box-shadow), 0 0 6px 2px var(--box-shadow) inset;
    border: 3px solid var(--theme-color-3);
    z-index: 10001;
    transition: 0.5s ease;
    text-align: center;
}

.open .custom-modal-window {
    transform: translateX(-50%) scale(1);
}

.custom-modal-window a.primary-button.close-modal {
    top: -0.5em;
    right: -0.5em;
}

/*
    SPECIFIC COMPONENT STYLES INSIDE MODAL WINDOW

 */

.modal-window .checkbox-input-container,
.modal-window .radio-input-container {
    display: block !important;
}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}
