.property-information {
  width: 100%;
  padding: 1rem 0;
}

.property-information p {
  margin: 0 0 0.5rem;
  text-shadow: 1px 1px 2px var(--text-shadow);
  font-size: 1.25rem;
  padding-left: 50%;
  position: relative;
  font-weight: bold;
  text-align: left;
  z-index: 1;
}

.property-information p:before {
  content: attr(data-property);
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  right: 0;
  color: var(--theme-color-1);
  font-size: 1em;
  font-weight: 900;
  font-style: italic;
  opacity: 0.9;
  text-align: right;
  display: inline-block;
  max-width: 100%;
  padding-right: 54%;
  text-shadow: 1px 1px 1px var(--text-shadow);
  margin: 0;
  z-index: -1;
}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}
