$background-color-1: #171717;
$background-color-2: #222222;
$background-color-3: #303030;
$background-accent-1: #4A4A4A;
$background-accent-2: #9B9B9B;
$accent-blue: #3D76E1;
$accent-blue-light: #2699FB;
$accent-red: #B23A48;
$success: #28a745;
$warning: #ffc107;
$error: #dc3545;
$info: #17a2b8;


$colors: ();
$colors: map-merge(
    (
        "b-c-1": $background-color-1,
        "b-c-2": $background-color-2,
        "b-c-3": $background-color-3,
        "b-a-1": $background-accent-1,
        "b-a-2": $background-accent-2,
        "a-b": $accent-blue,
        "a-bl": $accent-blue-light,
        "a-r": $accent-red,
        "success": $success,
        "warning": $warning,
        "error": $error,
        "info": $info
    ),
    $colors
);
