@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
  url(../fonts/MaterialIcons-Regular.woff) format('woff'),
  url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

* {
  box-sizing: border-box;
  outline: none;
}

html {
  height: 100%;
  font-size: 1em;
  color: white;
  font-family: sans-serif;
}

body {
  min-height: 100%;
  height: 100%;
  width: 100%;
  background-color: #222222;
  background-image: url("../images/background.svg");
  background-size: 300px;
  background-position: center;
  background-repeat: repeat;
  position: relative;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.mail-content {
  top: 0;
  width: 100%;
  height: auto;
  padding: 3rem;
  transition: transform 1s ease, top 1s ease, opacity 0.5s ease 0.75s;
  position: relative;
}

.mail-content h3 {
  font-size: 2rem;
  margin-left: -1.5rem;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 6px black;
}

.mail-content h3:first-child {
  margin-top: 0;
}

div.chosen-clubs {
  margin: 1rem 0;
  padding: 0.5rem 1rem 0 1rem;
  display: block;
  border-bottom: 2px solid #3D76E1;
  background-color: rgba(0, 0, 0, 0.25);
  vertical-align: bottom;
  max-height: 13.5rem;
  overflow-y: auto;
}

.chosen-clubs .to {
  font-size: 1.25rem;
  vertical-align: top;
  line-height: 2.5rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}

.chosen-clubs .club {
  background-color: #222222;
  border-radius: 50px;
  height: 2.5rem;
  display: inline-block;
  padding-left: 1rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  transition: 0.2s ease;
  font-size: 1rem;
}

.club:hover {
  background-color: #303030;
  cursor: pointer;
}

.club .club-name {
  position: relative;
  margin-right: 0.5rem;
  top: -0.9rem;
}

.club a {
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  position: relative;
  text-align: center;
  top: 0;
  display: inline-block;
  transition: 0.2s ease;
}

.club:hover a {
  background-color: #222222;
}

.club a:hover {
  background-color: #B23A48;
}

.club a i {
  font-size: 1.5rem;
  padding: 0.25rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.2s ease;
}

.club:hover a i {
  color: #B23A48;
}

.club a:hover i {
  color: #222222;
}

form.mail-content .radio-input-container {
  font-size: 1.25rem;
}

a.primary-button {
   text-align: center;
   display: inline-block;
   width: 4em;
   height: 4em;
   margin: 2em;
   color: white;
   transition: 0.2s ease;
   background-color: transparent;
   transform-style: preserve-3d;
   font-size: 1rem;
 }

.primary-button.send {
  float: left;
}

.primary-button.cancel {
  float: right;
}

a.primary-button:before {
  content: '';
  position: absolute;
  border-radius: 50%;
  border: 2px solid white;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: -1;
  transition: 0.2s ease;
  box-shadow: 0 0 20px 3px #2699FB inset, 0 0 10px 3px black;
}

a.primary-button.cancel:before {
  box-shadow: 0 0 20px 3px #F71735 inset, 0 0 10px 3px black;
}

a.primary-button:hover:before {
  width: 220%;
  height: 220%;
  opacity: 1;
  border-color: #2699FB;
}

a.primary-button.cancel:hover:before {
  border-color: #F71735;
}

.primary-button i {
  color: #3D76E1;
  position: absolute;
  font-size: 5em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.2s ease;
  z-index: 2;
  transform-style: preserve-3d;
}

.primary-button:hover i {
  color: #2699FB;
  top: 20%;
  transform: translate(-50%, -50%) scale(1.1) translateZ(30px);
}

.primary-button.cancel i {
  color: #B23A48;
}

.primary-button.cancel:hover i {
  font-weight: bold;
  color: #F71735;
}

.primary-button p {
  top: 50%;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
  position: absolute;
  font-size: 1em;
  transition: 0.2s ease;
  z-index: 1;
  opacity: 0;
  transform-style: preserve-3d;
}

.primary-button:hover p {
  top: 100%;
  opacity: 1;
  transform: translate(-50%, -50%) translateZ(15px);
}

.secondary-button {
  position: relative;
  text-decoration: none;
  text-align: center;
  margin: 1rem 0 1.5rem 2.5rem;
  cursor: pointer;
  display: inline-block;
  background: #171717;
  transition: 0.5s ease;
  font-size: 1em;
  height: auto;
  border: 2px solid #3D76E1;
  color: white;
  padding: 0.5em 1.5em;
}

.secondary-button.delete {
  border-color: #B23A48;
  color: #B23A48;
  transition: background-color 0.2s ease 0s, color 0.2s ease 0s, border 0.2s ease 0s;
}

.secondary-button.abort {
  border-color: #B23A48;
}

.secondary-button.disabled {
  color: #4A4A4A;
  border-color: #4A4A4A;
  cursor: not-allowed;
}

.secondary-button:hover,
.secondary-button:focus {
  border: 2px solid #2699FB;
  color: #2699FB;
}

.secondary-button.delete:focus,
.secondary-button.delete:hover {
  border: 2px solid #171717;
  color: #171717;
  background-color: #F71735;
  transition: background-color 0.2s ease 0.7s, color 0.2s ease 0.7s, border-color 0.2s ease 0.7s;
}

.secondary-button.abort:focus,
.secondary-button.abort:hover {
  border: 2px solid #F71735;
  color: #F71735;
}

.secondary-button.disabled:focus,
.secondary-button.disabled:hover {
  color: #4A4A4A;
  border-color: #4A4A4A;
}

.secondary-button:before {
  content: '';
  position: absolute;
  z-index: 1;
  width: calc(100% + 6px);
  height: calc(100% - 1em);
  background: #171717;
  top: 0.5em;
  left: -3px;
  transition: 0.5s ease;
}

.secondary-button:after {
  content: '';
  position: absolute;
  z-index: 1;
  width: calc(100% - 1em);
  height: calc(100% + 4px);
  background: #171717;
  top: -2px;
  left: 0.5em;
  transition: 0.5s ease;
}

.secondary-button.delete:before,
.secondary-button.delete:after {
  transition-delay: 0.3s;
}

.secondary-button:hover:before,
.secondary-button:focus:before {
  top: 50%;
  height: 0;
}

.secondary-button:hover:after,
.secondary-button:focus:after {
  left: 50%;
  width: 0;
}

.secondary-button.delete:hover:before,
.secondary-button.delete:focus:before,
.secondary-button.delete:hover:after,
.secondary-button.delete:focus:after {
  transition-delay: 0s;
}

.secondary-button.disabled:hover:before,
.secondary-button.disabled:focus:before {
  height: calc(100% - 1em);
  top: 0.5em;
}

.secondary-button.disabled:hover:after,
.secondary-button.disabled:focus:after {
  width: calc(100% - 1em);
  left: 0.5em;
}

.secondary-button .text {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  font-size: 1.5em;
  overflow: hidden;
  z-index: 10;
}

.secondary-button .ripple {
  position: absolute;
  background-color: white;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  animation: ripple 1s ease-out infinite;
  pointer-events: none;
}

@keyframes ripple {
  from {
    width: 0;
    height: 0;
    opacity: 0.7;
  }
  to {
    width: 50rem;
    height: 50rem;
    opacity: 0;
  }
}

.envelope {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  color: black;
  opacity: 0.3;
  font-size: 25rem;
  z-index: -1;
  transition: opacity 1.25s ease, transform 1.25s ease, left 1s ease-out 1.5s;
}

.sent .mail-content {
  top: -10%;
  transform: scale(0.2);
  opacity: 0;
}

.sent .envelope {
  opacity: 0.9;
  transform: translate(-50%, -50%) scale(1.5);
  left: 200%;
}

@media only screen and (min-width: 600px) {
  .mail-content {
    padding: 4rem;
  }
}

@media only screen and (min-width: 768px) {
  .mail-content {
    padding: 5rem;
  }
}

@media only screen and (min-width: 992px) {
  .mail-content {
    margin: 0 auto;
    width: 75%;
    padding: 4rem 0 2rem;
  }
}

@media only screen and (min-width: 1200px) {
  .mail-content {
    width: 900px;
  }
}
