<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />

    <title>Modal</title>

    <!-- General styles and fonts and stuff like that -->
    <link rel="stylesheet" href="../../css/normalize.css" type="text/css" />
    <link rel="stylesheet" href="../../css/general-style.css" type="text/css" />
    <link rel="stylesheet" href="../../css/material-icons-font.css" type="text/css" />

    <!-- Specific style -->
    <link rel="stylesheet" href="../../css/components/primary-button.css" type="text/css" />
    <link rel="stylesheet" href="../../css/components/secondary-button.css" type="text/css" />
    <link rel="stylesheet" href="../../css/components/modal.css" type="text/css" />

    <!--[if lt IE 9]>
    <script src="../../js/html5shiv.js"></script>
    <![endif]-->

    <!-- Every page needs this module to load other (specific) modules -->
    <script src="../../js/Modules/LoadModule.js"></script>

    <!-- This script loads JS modules necessary for this page -->
    <script src="modal-entrypoint.js"></script>

    <!--

        Webdesign by Markus Städler, weberlin-design.de, markus.staedler@weberlin-design.de

    -->

    <style>

        main .modal-button {
            margin: 5rem 0;
            display: inline-block;
            font-size: 2rem;
            background-color: #171717;
            padding: 1rem;
            cursor: pointer;
        }

    </style>

</head>
<body class="darkmode">

    <main class="">
        <h1>Sample Heading</h1>

        <a class="modal-button" onclick="ModalModule.deleteModalApi('Entscheidung', 'Ja oder nein.', undefined, undefined);">
            Modal
        </a>

    </main>

</body>
</html>
