<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />

    <title>Time Schedule</title>

    <!-- General styles and fonts and stuff like that -->
    <link rel="stylesheet" href="../../css/normalize.css" type="text/css" />
    <link rel="stylesheet" href="../../css/general-style.css" type="text/css" />
    <link rel="stylesheet" href="../../css/material-icons-font.css" type="text/css" />

    <!-- Specific style -->
    <link rel="stylesheet" href="../../css/components/primary-button.css" type="text/css" />
    <link rel="stylesheet" href="../../css/components/secondary-button.css" type="text/css" />
    <link rel="stylesheet" href="../../css/components/material-inputs.css" type="text/css" />
    <link rel="stylesheet" href="../../css/components/modal.css" type="text/css" />
    <link rel="stylesheet" href="../../css/components/time-schedule.css" type="text/css" />

    <!--[if lt IE 9]>
    <script src="../../js/html5shiv.js"></script>
    <![endif]-->

    <!-- Every page needs this module to load other (specific) modules -->
    <script src="../../js/Modules/LoadModule.js"></script>

    <!-- This script loads JS modules necessary for this page -->
    <script src="time-schedule-entrypoint.js"></script>

    <!--

        Webdesign by Markus Städler, weberlin-design.de, markus.staedler@weberlin-design.de

    -->

</head>
<body class="darkmode">

    <div class="oversize-container">
        <div class="time-schedule-container" id="3u4hz5i8934">
            <div class="time-scale">
                <span class="time whole start"><span class="emphasize">15:00</span></span>
                <span class="time">15:15</span>
                <span class="time">15:30</span>
                <span class="time">15:45</span>
                <span class="time whole"><span class="emphasize">16:00</span></span>
                <span class="time">16:15</span>
                <span class="time">16:30</span>
                <span class="time">16:45</span>
                <span class="time whole"><span class="emphasize">17:00</span></span>
                <span class="time">17:15</span>
                <span class="time">17:30</span>
                <span class="time">17:45</span>
                <span class="time whole"><span class="emphasize">18:00</span></span>
            </div>
            <div class="locations">
                <div class="fight-place" data-name="location 1">
                    <h2>Location 1</h2>
                    <div class="category time-block" data-category="4" style="height: 12rem">
                        <h3>Kategorie <span class="category-name">4</span></h3>
                        <p><span class="duration">72</span> Minuten</p>
                    </div>
                    <div class="category time-block" data-category="5" style="height: 2.33rem">
                        <h3>Kategorie <span class="category-name">5</span></h3>
                        <p><span class="duration">14</span> Minuten</p>
                    </div>
                    <div class="category time-block" data-category="11" style="height: 6.33rem">
                        <h3>Kategorie <span class="category-name">11</span></h3>
                        <p><span class="duration">38</span> Minuten</p>
                    </div>
                    <div class="break time-block" style="height: 6rem">
                        <h3>Pause</h3>
                        <p><span class="duration">36</span> Minuten</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
