<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />

    <title>Notification</title>

    <!-- General styles and fonts and stuff like that -->
    <link rel="stylesheet" href="../../css/normalize.css" type="text/css" />
    <link rel="stylesheet" href="../../css/general-style.css" type="text/css" />
    <link rel="stylesheet" href="../../css/material-icons-font.css" type="text/css" />

    <!-- Specific style -->
    <link rel="stylesheet" href="../../css/components/notification.css" type="text/css" />

    <!--[if lt IE 9]>
    <script src="../../js/html5shiv.js"></script>
    <![endif]-->

    <!-- Every page needs this module to load other (specific) modules -->
    <script src="../../js/Modules/LoadModule.js"></script>

    <!-- This script loads JS modules necessary for this page -->
    <script src="notification-entrypoint.js"></script>

    <!--

        Webdesign by Markus Städler, weberlin-design.de, markus.staedler@weberlin-design.de

    -->

    <style>

        body {
            overflow-x: hidden;
        }

    </style>

</head>
<body class="darkmode">

    <div class="notification warning visible clearfix">
        <i class="material-icons symbol">warning</i>
        <p class="message">Irgendetwas super duper mega krass wichtiges!</p>
        <i class="material-icons close">close</i>
    </div>

</body>
</html>
