@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
  url(../fonts/MaterialIcons-Regular.woff) format('woff'),
  url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 1em;
  color: white;
  font-family: sans-serif;
}

body {
  min-height: 100%;
  height: 100%;
  width: 100%;
  background-color: #222222;
  overflow: hidden;
  background-image: url("../images/background.svg");
  background-size: 300px;
  background-position: center;
  background-repeat: repeat;
}

nav.nav {
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  z-index: 100000;
  position: fixed;
  transition: 0.5s ease;
  /*transform: rotateX(50deg) scale(0.5);*/
  transform-origin: center top;
  visibility: hidden;
  opacity: 0;
  background:
          radial-gradient(black 15%, transparent 16%) 0 0,
          radial-gradient(black 15%, transparent 16%) 10px 10px,
          radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
          radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 10px 11px;
  background-color: rgba(30, 30, 30, 0.6);
  background-size: 20px 20px;
}

nav.nav.open {
  /*transform: rotateX(0deg) scale(1);*/
  top: 0;
  opacity: 1;
  visibility: visible;
}

a.primary-button {
  position: absolute;
  top: 5%;
  right: 10%;
  text-align: center;
  display: inline-block;
  width: 4em;
  height: 4em;
  margin: 2em;
  color: white;
  transition: 0.2s ease;
  background-color: transparent;
  transform-style: preserve-3d;
  font-size: 1rem;
  z-index: 100;
}

a.primary-button:before {
  content: '';
  position: absolute;
  border-radius: 50%;
  border: 2px solid white;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: -1;
  transition: 0.2s ease;
  box-shadow: 0 0 20px 3px #2699FB inset, 0 0 10px 3px black;
}

a.primary-button.cancel:before,
a.primary-button.close:before {
  box-shadow: 0 0 20px 3px #F71735 inset, 0 0 10px 3px black;
}

a.primary-button:hover:before {
  width: 220%;
  height: 220%;
  opacity: 1;
  border-color: #2699FB;
}

a.primary-button.cancel:hover:before,
a.primary-button.close:hover:before {
  border-color: #F71735;
}

.primary-button i {
  color: #3D76E1;
  position: absolute;
  font-size: 5em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.2s ease;
  z-index: 2;
  transform-style: preserve-3d;
}

.primary-button:hover i {
  color: #2699FB;
  top: 20%;
  transform: translate(-50%, -50%) scale(1.1) translateZ(30px);
}

.primary-button.cancel i,
.primary-button.close i {
  color: #B23A48;
}

.primary-button.cancel:hover i,
.primary-button.close:hover i {
  font-weight: bold;
  color: #F71735;
}

.primary-button p {
  top: 50%;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
  position: absolute;
  font-size: 1em;
  transition: 0.2s ease;
  z-index: 1;
  opacity: 0;
  transform-style: preserve-3d;
}

.primary-button:hover p {
  top: 100%;
  opacity: 1;
  transform: translate(-50%, -50%) translateZ(15px);
}

nav.nav .bg-text {
  position: absolute;
  text-align: center;
  width: 200%;
  left: -50%;
  top: 50%;
  transform: translateY(-50%);
  font-weight: 900;
  font-size: 10rem;
  color: black;
  opacity: 0.2;
  letter-spacing: 0.3rem;
  margin: 0;
  transition: 0.2s ease;
}

nav.nav ul {
  list-style: none;
  width: 100%;
  position: relative;
  margin: 0 auto;
  text-align: center;
  padding: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

nav ul li {
  width: 100%;
  height: 100%;
  position: relative;
}

nav.nav ul li + li {
  margin-top: 5vh;
}

nav.nav ul a {
  position: relative;
  display: block;
  text-decoration: none;
  color: white;
  font-size: 4rem;
  width: 100%;
  height: 100%;
  z-index: 10;
  padding: 1rem;
}

nav.nav ul a span {
  transition: 0.1s ease;
}

nav.nav ul a span.text {
  display: inline-block;
}

nav.nav ul a:hover span.text {
  transform: scale(1.1) skew(0, -15deg);
  /*text-shadow: 1px 1px 15px #2699FB;*/
  font-weight: bold;
  animation: glowing 0.5s ease-in infinite alternate;
}

@keyframes glowing {
  from {
    text-shadow: 1px 1px 10px #2699FB;
  }
  to {
    text-shadow: 1px 1px 25px #2699FB;
  }
}

nav.nav li span.bg {
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10rem;
  background: url("../images/stain.png") no-repeat center/20rem;
  opacity: 0;
  z-index: -1;
}

nav.nav ul a:hover + span.bg {
  opacity: 1;
}

nav.nav .image-container {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  width: 4rem;
  height: auto;
}

nav.nav .image-container img {
  width: 100%;
  height: auto;
}

a.open-nav {
  position: relative;
  display: inline-block;
  width: 10rem;
  height: 5rem;
  line-height: 5rem;
  cursor: pointer;
  font-size: 2rem;
  background-color: #222222;
  text-align: center;
  border: 1px solid #4A4A4A;
  transition: 0.5s ease;
  border-radius: 3px;
  box-shadow: 1px 1px 3px 2px grey;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

a.open-nav:hover {
  background-color: #4A4A4A;
}

header {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  padding: 1.5rem 0 1rem 0;
  transition: 0.5s ease;
}

header:before {
  content: '';
  position: absolute;
  top: -50%;
  left: 0;
  width: 100%;
  height: 150%;
  background-color: #171717;
  z-index: -1;
  border-radius: 0 0 50% 50%/0 0 75% 75%;
  box-shadow: 0 0 10px 3px black;
  opacity: 0.75;
}

header p {
  position: relative;
  text-align: center;
  margin: 0;
  font-size: 1.5rem;
}

header > a {
  display: block;
  position: absolute;
  border-radius: 10%;
  width: 5rem;
  height: 5rem;
  background-color: #171717;
  text-align: center;
  top: -0.5rem;
  box-shadow: 0 0 10px 3px black;
  transition: 0.5s ease;
  cursor: pointer;
  z-index: 2;
  text-decoration: none;
  color: white;
}

header > a:hover,
header > a:focus {
  background-color: #2699FB;

}

header .menu {
  left: 0;
  transform: rotate(-5deg);
}

header .profile {
  right: 0;
  transform: rotate(5deg);
}

.header > a i {
  font-size: 2rem;
  line-height: 3;
  color: #3D76E1;
  transition: 0.2s ease;
}

.header > a:hover i,
.header > a:focus i {
  color: white;
}

.user-profile {
  border-radius: 3px;
  top: -10%;
  right: -5%;
  position: fixed;
  width: 90%;
  height: auto;
  transition: 0.2s ease;
  opacity: 0;
  transform: scale(0.25);
  box-shadow: 0 3px 10px 2px black;
  z-index: 100;
  font-size: 0.9rem;
  visibility: hidden;
}

.darkmode .user-profile {
  background: linear-gradient(45deg, rgba(48, 48, 48, 0.9) 10%, rgba(74, 74, 74, 0.75) 65%);
}

.user-profile.open {
  transform: scale(1);
  opacity: 1;
  top: 6.5rem;
  right: 1rem;
  visibility: visible;
}

.user-profile:before {
  content: '';
  background-image: url(../images/profile-arrow.svg);
  backgrund-size: 30px 45px;
  width: 45px;
  height: 30px;
  position: absolute;
  top: -29px;
  right: 7px;
  z-index: -1;
}

.user-profile .user-wrapper {
  position: relative;
  overflow: hidden;
}

.user-profile.open .user-wrapper {
  height: auto;
}

.user-profile .user-wrapper:before {
  content: '';
  position: absolute;
  width: 30em;
  height: 30em;
  border-radius: 50%;
  top: -40%;
  left: 5%;
  border: 25px solid #171717;
  opacity: 0.5;
  z-index: -1;
}

.user-profile .pic-container {
  position: relative;
  top: 2em;
  margin: 0 auto;
  max-width: 10em;
  width: 50%;
  height: auto;
  border-radius: 50%;
  box-shadow: 2px 2px 4px black;
  overflow: hidden;
}

.user-profile .pic-container img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1.06);
}

.user-profile p {
  font-size: 1.5em;
  text-align: center;
  margin: 2.5em 0 2.5em 0;
  text-shadow: 2px 2px 5px black;
}

.user-profile .secondary-button {
  font-size: 1.2em;
  position: relative;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  width: 85%;
  height: auto;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background: #171717;
  border: 2px solid #3D76E1;
  transition: 0.5s ease;
  color: white;
  margin-bottom: 1rem;
}

.secondary-button:hover,
.secondary-button:focus {
  border: 2px solid #2699FB;
  color: #2699FB;
  transform: translateX(-50%) scale(1.05);
  box-shadow: 0 3px 15px 2px black;
  font-weight: bold;
  border-radius: 15%;
}

.secondary-button:before {
  content: '';
  position: absolute;
  z-index: 1;
  width: calc(100% + 4px);
  height: 80%;
  background: #171717;
  top: 10%;
  left: -2px;
  transition: 0.5s ease;
}

.secondary-button:after {
  content: '';
  position: absolute;
  z-index: 1;
  width: 95%;
  height: calc(100% + 4px);
  background: #171717;
  top: -2px;
  left: 2.5%;
  transition: 0.5s ease;
}

.secondary-button:hover:before,
.secondary-button:focus:before {
  top: 50%;
  height: 0;
}

.secondary-button:hover:after,
.secondary-button:focus:after {
  left: 50%;
  width: 0;
}

.secondary-button .text {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  padding: 1em 2em;
  overflow: hidden;
  z-index: 10;
}

.secondary-button .ripple {
  position: absolute;
  background-color: white;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  animation: ripple 1s ease-out infinite;
  pointer-events: none;
}

@keyframes ripple {
  from {
    width: 0;
    height: 0;
    opacity: 0.7;
  }
  to {
    width: 50rem;
    height: 50rem;
    opacity: 0;
  }
}

@media only screen and (min-width: 600px) {
  .user-profile {
    width: 20%;
    min-width: 25em;
    font-size: 1rem;
  }
}

@media only screen and (min-width: 768px) {
  nav.nav .bg-text {
    font-size: 13rem;
    letter-spacing: 0.5rem;
  }

  nav.nav ul li + li {
    margin-top: 7vh;
  }

  nav.nav ul a {
    font-size: 5rem;
    padding: 1rem;
  }

  nav.nav li span.bg {
    background-size: 25rem;
  }

  nav.nav .image-container {
    bottom: 2rem;
    left: 2rem;
    width: 5rem;
  }
}

@media only screen and (min-width: 992px) {
  nav.nav ul {
    width: 30%;
  }

  nav.nav .bg-text {
    font-size: 15rem;
    letter-spacing: 0.5rem;
  }

  nav.nav ul li + li {
    margin-top: 4vh;
  }

  nav.nav ul a {
    font-size: 4rem;
    padding: 1rem;
  }

  nav.nav .image-container {
    bottom: 3rem;
    left: 3rem;
    width: 7rem;
  }

  header {
    top: 0;
    padding: 1.5rem 0 1rem 0;
  }

  header:before {
    top: -50%;
    height: 150%;
  }

  header:hover {
    transform: translateY(50%);
  }

  header p {
    font-size: 2rem;
  }

  header a {
    width: 8rem;
    height: 8rem;
    top: -2.5rem;
  }

  header .menu {
    left: -2rem;
    transform: rotate(-30deg);
  }

  header:hover .menu {
    left: -0.5rem;
    transform: rotate(-5deg);
  }

  header .profile {
    right: -2rem;
    transform: rotate(30deg);
  }

  header:hover .profile {
    right: -0.5rem;
    transform: rotate(5deg);
  }

  .header a i {
    font-size: 3rem;
    line-height: 3;
  }

  .user-profile {
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 1200px) {
  nav.nav ul a {
    font-size: 5rem;
    padding: 1rem;
  }

  nav.nav li span.bg {
    background-size: 30rem;
  }

  .user-profile {
    max-width: 30em;
  }
}
