@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
  url(../fonts/MaterialIcons-Regular.woff) format('woff'),
  url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 1em;
  color: white;
  font-family: sans-serif;
}

body {
  min-height: 100%;
  height: 100%;
  width: 100%;
  background-color: #222222;
  overflow: hidden;
  background-image: url("../images/background.svg");
  background-size: 300px;
  background-position: center;
  background-repeat: repeat;
  text-align: center;
}

a.primary-button {
  position: absolute;
  top: 5%;
  right: 10%;
  text-align: center;
  display: inline-block;
  width: 4em;
  height: 4em;
  margin: 2em;
  color: white;
  transition: 0.2s ease;
  background-color: transparent;
  transform-style: preserve-3d;
  font-size: 1rem;
  z-index: 100;
}

a.primary-button:before {
  content: '';
  position: absolute;
  border-radius: 50%;
  border: 2px solid white;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: -1;
  transition: 0.2s ease;
  box-shadow: 0 0 20px 3px #2699FB inset, 0 0 10px 3px black;
}

a.primary-button.cancel:before,
a.primary-button.close:before {
  box-shadow: 0 0 20px 3px #F71735 inset, 0 0 10px 3px black;
}

a.primary-button.documents:before,
a.primary-button.documents:before {
  box-shadow: 0 0 20px 3px #5EFC8D inset, 0 0 10px 3px black;
}

a.primary-button.messages:before,
a.primary-button.messages:before {
  box-shadow: 0 0 20px 3px #FFF275 inset, 0 0 10px 3px black;
}

a.primary-button:hover:before {
  width: 220%;
  height: 220%;
  opacity: 1;
  border-color: #2699FB;
}

a.primary-button.cancel:hover:before,
a.primary-button.close:hover:before {
  border-color: #F71735;
}

a.primary-button.documents:hover:before,
a.primary-button.documents:hover:before {
  border-color: #5EFC8D;
}

a.primary-button.messages:hover:before,
a.primary-button.messages:hover:before {
  border-color: #FFF275;
}

.primary-button i {
  color: #3D76E1;
  position: absolute;
  font-size: 5em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.2s ease;
  z-index: 2;
  transform-style: preserve-3d;
}

.primary-button:hover i {
  color: #2699FB;
  top: 20%;
  transform: translate(-50%, -50%) scale(1.1) translateZ(30px);
}

.primary-button.cancel i,
.primary-button.close i {
  color: #B23A48;
}

.primary-button.documents i,
.primary-button.documents i {
  color: #20BF55;
}

.primary-button.messages i,
.primary-button.messages i {
  color: #E3B505;
}

.primary-button.cancel:hover i,
.primary-button.close:hover i {
  font-weight: bold;
  color: #F71735;
}

.primary-button.documents:hover i,
.primary-button.documents:hover i {
  color: #5EFC8D;
}

.primary-button.messages:hover i,
.primary-button.messages:hover i {
  color: #FFF275;
}

.primary-button p {
  top: 50%;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
  position: absolute;
  font-size: 1em;
  transition: 0.2s ease;
  z-index: 1;
  opacity: 0;
  transform-style: preserve-3d;
}

.primary-button:hover p {
  top: 100%;
  opacity: 1;
  transform: translate(-50%, -50%) translateZ(15px);
}
