<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />

    <title>Primary Button Floating Container</title>

    <!-- General styles and fonts and stuff like that -->
    <link rel="stylesheet" href="../../css/normalize.css" type="text/css" />
    <link rel="stylesheet" href="../../css/general-style.css" type="text/css" />
    <link rel="stylesheet" href="../../css/material-icons-font.css" type="text/css" />

    <!-- Specific style -->
    <link rel="stylesheet" href="../../css/components/primary-button.css" type="text/css" />
    <link rel="stylesheet" href="../../css/components/primary-button-floating-container.css" type="text/css" />

    <!--[if lt IE 9]>
    <script src="../../js/html5shiv.js"></script>
    <![endif]-->

    <!-- Every page needs this module to load other (specific) modules -->
    <script src="../../js/Modules/LoadModule.js"></script>

    <!--

        Webdesign by Markus Städler, weberlin-design.de, markus.staedler@weberlin-design.de

    -->

    <style>

        .primary-button-floating-container {
            top: 5rem;
            left: 5rem;
        }

    </style>

</head>
<body class="darkmode">

    <div class="primary-button-floating-container">
        <a class="primary-button mail" href="#">
            <i class="material-icons">mail</i>
            <p>E-Mail schreiben</p>
        </a>
    </div>

</body>
</html>
