.mail-content {
    width: 35%;
    margin-left: 25%;
    padding-top: 2rem;
}

.mail-content h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

a.choose-clubs {
    position: relative;
    margin-left: 2rem;
    float: left;
    display: inline-block;
    padding: 0.5rem 2rem;
}

.darkmode a.choose-clubs {
    background-color: #272727;
    color: #2699FB;
}

a.choose-clubs:hover {
    background-color: #2699FB;
    color: #272727;
}

a.choose-clubs.disabled {
    background-color: #272727;
}

div.chosen-clubs {
    margin: 1rem 0;
    display: block;
}

.chosen-clubs .club-container {
    background-color: #272727;
    border-radius: 50px;
    height: 2.5rem;
    display: inline-block;
    padding-left: 1rem;
    margin-right: 0.5rem;
}

.club-container .club-name {
    position: relative;
    top: -0.9rem;
    margin-right: 0.5rem;
}

.club-container a {
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    position: relative;
    text-align: center;
    top: 0;
    display: inline-block;
}

.club-container a:hover {
    background-color: #4A4A4A;
}

.club-container a i {
    font-size: 1.5rem;
    padding: 0.25rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.club-container a:hover i {
    color: #8D0909;
}

.text-input-container {
    position: relative;
}

form textarea {
    background-color: #303030;
    width: 100%;
    height: 10rem;
    max-width: 100%;
    max-height: 15rem;
    border-radius: 10px;
    border: 2px solid #2699FB;
    padding: 0.75rem 0.75rem;
    font-family: "Source Sans Pro", sans-serif;
}

.darkmode form textarea {
    color: white;
}

form textarea::placeholder {
    color: #b4b4b4;
}

form.mail-content .radio-input-container {
    font-size: 1rem;
}

form .container .button2 {
    width: 25%;
    padding-bottom: 0;
}

form .container .button2 p {
    margin-top: 0;
}

form .container .button2 i {
    font-size: 2.5rem;
}

form .container .send {
    float: left;
}

form .container .cancel {
    float: right;
}

form .container .cancel:hover {
    color: #8D0909;
}

.modal-window form {
    width: 100%;
}

.modal-window .all-clubs {
    width: 75%;
    margin: 0 auto;
}

@media screen and (min-width: 600px) {

}

@media screen and (min-width: 960px) {

}

@media print {

}