main.no-tournament {
    text-align: center;
    padding-top: 3rem;
    color: #BFBFBF;
    font-style: italic;
}

.no-tournament h1 {
    margin-bottom: 3rem;
}

.no-tournament .host-tournament {
    border-radius: 10px;
    border: 3px dashed #BFBFBF;
    padding: 5rem 5rem 2rem 5rem;
    width: 50%;
    position: relative;
    display: block;
    margin: 0 auto;
}

.no-tournament .host-tournament:hover {
    border: 3px solid white;
}

.no-tournament i {
    font-size: 3rem;
    border-radius: 50%;
    border: 3px solid #BFBFBF;
    padding: 2rem;
    color: #BFBFBF;
    transition: 0.2s ease;
}

.no-tournament .host-tournament:hover i {
    border-color: white;
    color: white;
    transform: scale(1.2);
}

.no-tournament .host-tournament p {
    margin-top: 3rem;
    color: #BFBFBF;
    font-size: 1.5rem;
    transition: 0.2s ease;
}

.no-tournament .host-tournament:hover p {
    color: white;
}

.tournament-dashboard {
    position: relative;
}

.tournament-dashboard h1 {
    padding-left: 0;
    margin-bottom: 2.5rem;
}

.tournament-dashboard .cancel-tournament {
    position: absolute;
    top: 1rem;
    right: 3rem;
}

.cancel-tournament i {
    font-size: 5rem;
}

.cancel-tournament:hover i {
    color: #8D0909;
}

.column-left {
    float: left;
    width: 20%;
}

.graduation-container {
    background-color: #4A4A4A;
    width: 100%;
    text-align: center;
    padding: 2rem 0;
    border-radius: 5px;
}

.graduation-container h3 {
    font-size: 1.5rem;
    margin: 0 0 1rem 0;
}

.graduation-container p {
    margin: 0;
    font-size: 1.2rem;
}

.categories {
    margin-top: 1.5rem;
    float: left;
    width: 100%;
    padding: 3rem 0;
    font-size: 2rem;
    background-color: #272727;
    border-radius: 5px;
    text-align: center;
}

.categories:hover {
    background-color: #000000;
    color: #2699FB;
}

.tournament-container {
    border-radius: 15px;
    border: 5px solid #4A4A4A;
    width: 56%;
    float: left;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
    height: 18.5rem;
}

.tournament-container h3 {
    color: #2699FB;
    font-size: 2.5rem;
    margin: 1.5rem 0 1.5rem 0;
}

.tournament-container p {
    margin: 0.5rem 0;
    font-size: 1.2rem;
}

.tournament-container .more-spacing {
    font-weight: bold;
    margin-top: 1.5rem;
}

.tournament-container .standard span {
    font-size: 1.5rem;
    color: #2699FB;
    margin: 0 1rem;
}

.tournament-container .on-hover {
    height: 100%;
    display: none;
}

.tournament-container:hover .standard {
    display: none;
}

.tournament-container:hover .on-hover {
    display: block;
}

.tournament-container .on-hover a {
    display: inline-block;
    width: 28%;
    margin: 0 2%;
    padding: 3rem 5%;
    font-size: 1.5rem;
    position: relative;
    border-radius: 3px;
    top: 50%;
    transform: translateY(-50%);
}

.tournament-container .on-hover a:hover {
    color: #2699FB;
    background-color: #2c2c2c;
}

.tournament-container .divider {
    height: 3rem;
    display: inline-block;
    width: 2px;
    background-color: #707070;
    position: relative;
    top: 4rem;
}

main .fight {
    display: inline-block;
    position: relative;
    padding: 1rem 3rem;
    margin-top: 5rem;
    left: 10%;
    transform: translateX(-50%);
}

.fight i {
    font-size: 3rem;
}

.fight p {
    margin-bottom: 0;
}

.enrolled-persons-container {
    width: 100%;
    border-radius: 15px;
    border: 5px solid #4A4A4A;
    float: left;
    text-align: center;
    margin-top: 2rem;
    padding-bottom: 3rem;
    position: relative;
    margin-bottom: 2rem;
}

.enrolled-persons-container .club-info {
    position: absolute;
    font-size: 1.5rem;
    background-color: #303030;
    padding: 0 1rem;
    top: -3rem;
    left: 2rem;
}

.club-info span {
    padding: 0 0.5rem;
}

.club-info .tournament-name {
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
    vertical-align: -0.1rem;
    padding-left: 0;
    padding-right: 1rem;
}

.enrolled-persons-container h3 {
    color: #2699FB;
    font-size: 1.5rem;
}

.enrolled-persons-container .circle {
    width: 15rem;
    height: 15rem;
    background-color: #4A4A4A;
    position: relative;
    border-radius: 50%;
}

.enrolled-persons-container .circle:first-of-type {
    float: left;
    left: 20%;
}

.enrolled-persons-container .circle .type {
    font-size: 1.5rem;
    position: absolute;
    transition: 0.2s ease;
}

.enrolled-persons-container .circle .enrolled {
    font-size: 2.5rem;
    color: #2699FB;
}

.enrolled-persons-container .circle .share {
    position: absolute;
    display: block;
    width: 50%;
    height: 50%;
}

.enrolled-persons-container .circle .share:first-child, .enrolled-persons-container .circle .share:last-child {
    background-color: #404040;
}

.enrolled-persons-container .circle .share a {
    width: 100%;
    height: 100%;
    display: block;
    background-color: #3B3B3B;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.enrolled-persons-container .circle .share:hover a {
    opacity: 1;
}

.enrolled-persons-container .circle .share:hover .type {
    color: #2699FB;
}

.enrolled-persons-container .share.starter {
    top: 0;
    left: 0;
    border-radius: 100% 0 0 0;
}

.enrolled-persons-container .share.starter .type {
    left: -4rem;
}

.enrolled-persons-container .share.starter a {
    border-radius: 100% 0 0 0;
}

.enrolled-persons-container .share.coaches {
    left: 50%;
    border-radius: 0 100% 0 0;
}

.enrolled-persons-container .share.coaches .type {
    right: -4rem;
}

.enrolled-persons-container .share.coaches a {
    border-radius: 0 100% 0 0;
}

.enrolled-persons-container .share.referees {
    top: 50%;
    left: 0;
    border-radius: 0 0 0 100%;
}

.enrolled-persons-container .share.referees .type {
    left: -8rem;
    top: 5rem;
}

.enrolled-persons-container .share.referees a {
    border-radius: 0 0 0 100%;
}

.enrolled-persons-container .share.helper {
    top: 50%;
    left: 50%;
    border-radius: 0 0 100% 0;
}

.enrolled-persons-container .share.helper .type {
    right: -3rem;
    top: 5rem;
}

.enrolled-persons-container .share.helper a {
    border-radius: 0 0 100% 0;
}

.persons .enrolled {
    position: relative;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.enrolled-persons-container .circle .share.referees i, .enrolled-persons-container .circle .share.helper i {
    top: 25%;
}

.enrolled-persons-container .circle .share i {
    font-size: 3rem;
    position: relative;
    top: 35%;
    left: 0;
    color: #2699FB;
}

.enrolled-persons-container .teams {
    float: right;
    right: 20%;
}

.enrolled-persons-container .teams .type {
    left: -4rem;
}

.enrolled-persons-container .teams .enrolled {
    position: relative;
    display: block;
    top: 50%;
    transform: translateY(-50%);
}

.enrolled-persons-container .circle:last-child .add {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: #3B3B3B;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.enrolled-persons-container .teams:hover .add {
    opacity: 1;
}

.enrolled-persons-container .teams .add i {
    font-size: 4rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: #2699FB;
}

.create .enrollment-period .date-input-container {
    width: 45%;
}

.create .enrollment-period .start-container {
    float: left;
}

.create .enrollment-period .end-container {
    float: right;
}

.enrollment-period .to {
    font-size: 1.5rem;
}

.club-card {
    width: 45%;
    background-color: #4A4A4A;
    border-radius: 2px;
    padding: 1rem;
}

.person-card {
    float: left;
}

.team-card {
    float: right;
}

.club-card h3 {
    margin-top: 0;
    width: 100%;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    border-bottom: 2px solid #707070;
}

.club-card .registered-content span {
    float: left;
    font-size: 6rem;
    color: #2699FB;
    position: relative;
    left: 19%;
    font-style: italic;
}

.club-card .registered-content p {
    float: right;
    width: 35%;
    font-size: 1.5rem;
    position: relative;
    top: 1rem;
}

.club-card .footer {
    width: 100%;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.club-card a {
    padding: 1rem 16%;
    width: 45%;
    display: inline-block;
    position: relative;
    text-align: center;
}

.club-card .register {
    left: -3%;
}

.club-card .administer {
    right: -3%;
}

.club-card a:hover {
    background-color: #2c2c2c;
    color: #2699FB;
}

.club-card .divider {
    height: 2rem;
    display: inline-block;
    width: 2px;
    background-color: #707070;
    position: relative;
    top: 0;
}



@media screen and (min-width: 600px) {

}

@media screen and (min-width: 960px) {

}

@media print {

}